@charset "utf-8";
.web-top {
    float: left;
    width: 100%;
    min-width: 1200px;
    height: 35px;
    border-bottom: 1px solid #ededed;
    background: #f9f7f6
}

.web-top .wm-1200 {
    height: 35px;
}

.notice-txt {
    float: left;
    color: #666;
    width: 450px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scroll-order {
    float: right;
    width: 300px;
    height: 35px;
    overflow: hidden;
    margin: 0 70px 0 10px
}

.scroll-order ul {
    float: left;
}

.scroll-order ul li {
    float: left;
    color: #f39700;
    width: 300px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
}

.top-login {
    float: right;
    max-width: 580px
}

.top-login a,
.top-login dl.dh dt {
    float: left;
    color: #333;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    cursor: pointer
}

.top-login a:hover,
.top-login dl.dh dt:hover {
    color: #f80;
}

.top-login a.dd i,
.top-login dl.dh dt i,
.top-login a.lx_us i {
    float: left;
    height: 36px;
    line-height: 36px;
}

.top-login a.dd i:before,
.top-login dl.dh dt i:before,
.top-login a.lx_us i:before {
    display: inline-block;
    vertical-align: middle;
    font-family: "st-iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.top-login a.dd i:before {
    content: "\e63b";
    font-size: 20px;
    margin: -3px 0 0;
}

.top-login dl.dh dt i:before {
    content: "\e61a";
    font-size: 20px;
    margin: -3px 0 0;
}

.top-login a.lx_us i:before {
    content: "\e614";
    font-size: 20px;
    margin: -4px 0 0;
}

.top-login dl.dh {
    float: left;
    position: relative;
    z-index: 99999;
    border-left: 1px solid #f9f7f6;
    border-right: 1px solid #f9f7f6;
}

.top-login dl.dh dd {
    display: none;
    position: absolute;
    z-index: 9999;
    right: -1px;
    top: 35px;
    width: 140px;
    padding: 0 10px;
    border: 1px solid #eee;
    border-top: 0;
    background: #fff
}

.top-login dl.dh dd a {
    width: 70px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.top-column-banner {
    float: left;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    overflow: hidden;
    position: relative;
    z-index: 999
}

.top-column-banner .top-closed {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: 605px;
    z-index: 9999;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    /*-ms-transition: all 0.3s;*/
    -moz-transition: all 0.3s;
    background: url("../images/hp-closed.png") left no-repeat
}

.top-column-banner .top-closed:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg)
}

.top-column-banner a {
    display: block;
    width: 1920px;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 0;
    margin-left: -960px;
    overflow: hidden
}

.top-column-banner a img {
    float: left;
    width: 100%;
    height: 80px
}

.st-header {
    float: left;
    width: 100%;
    min-width: 1200px;
    padding: 22px 0 23px;
    background: #fff
}

.st-header .st-logo {
    float: left;
    width: 298px;
    height: 85px;
    line-height: 85px;
    overflow: hidden
}

.st-header .st-logo img {
    vertical-align: middle;
}

.st-top-search {
    width: 501px;
    height: 34px;
    position: absolute;
    left: 420px;
    top: 50%;
    margin-top: -18px;
    border: 1px solid #00b7ee;
    border-radius: 3px;
    background: #fff
}

.st-top-search .st-search-down {
    float: left;
    color: #333;
    width: 90px;
    height: 34px;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #e5e5e5
}

.st-top-search .st-search-down strong {
    float: left;
    width: 80px;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #f8f8f8
}

.st-top-search .st-search-down strong i {
    width: 11px;
    height: 6px;
    position: absolute;
    top: 14px;
    right: 5px;
    transition: all 0.3s;
    background: url(../images/st-line-ico.png) no-repeat 0 -53px
}

.st-top-search .st-search-down:hover strong i {
    transform: rotate(180deg)
}

.st-top-search .st-search-down .st-down-select {
    display: none;
    position: absolute;
    left: -1px;
    top: 34px;
    z-index: 99999;
    width: 92px;
    background: #fff
}


.st-top-search .st-search-down .st-down-select li {
    float: left;
    width: 80px;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    margin-top: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #e5e5e5
}

.st-top-search .st-search-down .st-down-select li:hover {
    background: #e5e5e5
}

.st-top-search .st-txt {
    float: left;
    width: 170px;
    height: 34px;
    line-height: 34px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    padding-left: 10px
}

.st-top-search span {
    float: right;
    width: 150px;
    height: 34px;
    overflow: hidden;
    text-align: right;
    font-size: 0;
}

.st-top-search span a {
    display: inline-block;
    color: #999;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin: 5px 5px 0 0;
    font-size: 12px;
    border-radius: 3px;
    background: #f3f3f3
}

.st-top-search span a:hover {
    color: #009fde
}

.st-top-search .st-btn {
    float: right;
    color: #fff;
    width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background: #00b7ee
}

.st-link-way {
    float: right;
    height: 46px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -23px
}

.link-way-ico {
    float: left;
}

.link-way-txt {
    float: left;
    display: table;
    height: 46px;
    padding-left: 10px;
}

.st-link-way em {
    color: #0082dd;
    display: table-cell;
    max-width: 260px;
    vertical-align: middle;
    font-size: 20px;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif;
}

.st-nav {
    float: left;
    width: 100%;
    min-width: 1200px;
    height: 45px;
    background: #00b7ee
}

.st-global {
    float: left;
    width: 220px;
    height: 45px;
    position: relative
}

.st-global .global-bt {
    float: left;
    color: #fff;
    width: 220px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    background: #009fde
}

.st-global .global-list {
    float: left;
    position: relative;
    z-index: 99999;
    width: 220px;
    height: 420px;
    background: #fff
}

.gl-list-tabbox {
    float: left;
    width: 220px;
    height: 69px;
    border-bottom: 1px solid #e8e8e8
}

.gl-list-tabbox h3 {
    float: left;
    width: 196px;
    height: 69px;
    padding: 0 10px;
    position: relative;
    border-left: 3px solid #fff;
    border-right: 1px solid #fff
}

.gl-list-tabbox h3.hover {
    margin-top: -1px;
    z-index: 9999;
    border: 1px solid #00b7ee;
    border-right: 1px solid #fff;
    border-left: 3px solid #00b7ee;
}

.gl-list-tabbox h3 strong {
    float: left;
    width: 196px;
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
    font-size: 14px
}

.gl-list-tabbox h3 strong em {
    margin: 2px 5px 0 0
}

.gl-list-tabbox h3 strong em,
.gl-list-tabbox h3 strong em img {
    float: left;
    width: 20px;
    height: 20px;
    overflow: hidden
}

.gl-list-tabbox h3 strong a {
    color: #333;
    float: left;
    font-size: 16px
}

.gl-list-tabbox h3 strong a:hover,
.gl-list-tabbox h3 p a:hover {
    color: #f60
}

.gl-list-tabbox h3 p {
    float: left;
    width: 175px;
    height: 20px;
    padding-left: 21px;
    margin-top: 5px;
    overflow: hidden
}

.gl-list-tabbox h3 p a {
    float: left;
    color: #8c9093;
    height: 20px;
    line-height: 20px;
    margin-right: 5px
}

.gl-list-tabbox h3 .arrow-rig {
    position: absolute;
    right: 10px;
    top: 50%;
    display: block;
    width: 6px;
    height: 11px;
    margin-top: -5px;
    background: url(../images/arrow-right-ico2.png) left no-repeat
}

.tabcon-item {
    display: none;
    position: absolute;
    left: 219px;
    top: 0;
    z-index: 999;
    width: 979px;
    min-height: 418px;
    border: 1px solid #00b7ee;
    background: #fff
}

.tabcon-item .item-list {
    float: left;
    width: 980px;
}

.tabcon-item .item-list dl {
    float: left;
    width: 450px;
    padding: 10px 20px
}

.tabcon-item .item-list dl dt,
.tabcon-item .item-list dl dt a {
    float: left;
    color: #333;
    width: 450px;
    height: 30px;
    line-height: 30px;
    font-size: 14px
}

.tabcon-item .item-list dl dt {
    border-bottom: 1px solid #e8e8e8
}

.tabcon-item .item-list dl dd {
    float: left;
    width: 450px;
    margin-top: 10px
}

.tabcon-item .item-list dl dd a {
    float: left;
    color: #333;
    height: 24px;
    line-height: 24px;
    margin-right: 15px
}

.tabcon-item .item-list dl dt a:hover,
.tabcon-item .item-list dl dd a:hover {
    color: #f60
}

.tabcon-item .ad-box {
    float: left;
    width: 980px;
    height: 110px;
    overflow: hidden
}

.st-menu {
    float: left;
    width: 980px;
    height: 45px
}

.st-menu > ul > li {
    float: left;
    height: 45px;
    position: relative;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    /*-ms-transition: all .8s;*/
    -o-transition: all .8s;
    transition: all .8s;
}

.st-menu > ul > li .st-arrow-ico {
    float: right;
    display: block;
    width: 0;
    height: 0;
    margin: 22px 0 0 5px;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.st-menu > ul > li.this-hover .st-arrow-ico {
    border-top: 0;
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.st-menu > ul > li > a {
    display: block;
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    font-size: 16px;
    position: relative
}

.st-menu > ul > li.active,
.st-menu > ul > li:hover,
.st-menu > ul > li.this-hover {
    background: #0088d0
}

.st-menu > ul > li.active s,
.st-menu > ul > li.this-hover s {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -4px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.st-menu .st-nav-icon{
    position: absolute;
    top: -5px;
    right: 5px;
}

.down-nav {
    display: none;
    min-width: 1200px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 99999;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
}

.this-hover .down-nav {
    display: block;
}

.sub-list {
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 0;
    overflow: hidden;
    font-size: 0;
}

.sub-list a {
    padding: 0 10px;
    font-size: 14px;
    white-space: nowrap;
}

.sub-list a:hover {
    color: #009fde;
}

/*热搜框*/
.st-hot-dest-box {
    display: none;
    position: absolute;
    left: -1px;
    top: 40px;
    z-index: 99999;
    width: 463px;
    padding: 10px 19px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;;
    background: #fff;
}

.st-hot-dest-box .block-tit {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.st-hot-dest-box .block-tit strong {
    color: #999;
}

.st-hot-dest-box .block-tit i {
    float: right;
    width: 12px;
    height: 12px;
    margin: 9px;
    cursor: pointer;
    background: url("../images/st-sidemenu-closed-ico.png") center no-repeat;
}

.st-hot-dest-box .block-nr {
    display: block;
}

.st-hot-dest-box .block-nr dl {
    padding: 10px 0 0;
}

.st-hot-dest-box .block-nr dl dt {
    font-weight: bold;
}

.st-hot-dest-box .block-nr dl dd {
    padding-top: 5px;
}

.st-hot-dest-box .block-nr dl dd a {
    color: #666;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-right: 15px;
}

.top-login a.msg i{
    float: left;
    height: 36px;
    line-height: 36px;
}
.top-login a.msg i:before{
    display: inline-block;
    vertical-align: middle;
    font-family: "st-iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    content: "\e6b0";
    font-size: 24px;
    margin: -4px 0 0;
}
.top-login a.msg{
    position: relative;
}
.top-login a.msg .point-icon{
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 10px;
    left: 25px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #f00;
}
