@charset "utf-8";
/*首页焦点图*/
.st-focus-banners{
    float: left;
    width: 100%;
    min-width: 1200px;
    height: 420px;
    position: relative;
    overflow: hidden;
}
.st-focus-banners .banners{
    width: 1920px;
    height: 420px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
}
.st-focus-banners .banners > ul > li > a{
    display: table-cell;
    width: 1920px;
    height: 420px;
    vertical-align: middle;
    text-align: center;
}
.st-focus-banners .banners > ul > li > a img{
    vertical-align: middle;
}
.st-focus-banners .focus{
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 20px;
    z-index:99;
    text-align: center;
}
.st-focus-banners .focus > ul{
    height: 12px;
}
.st-focus-banners .focus > ul > li{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    cursor: pointer;
    vertical-align: top;
    background: #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.st-focus-banners .focus > ul > li.on{
    background: #00b7ee;
}

.top_pz_box{
	float:left;
	width:100%;
	height:46px;
	padding:10px 0;
	font-size:0;
	text-align:center;
	background:#f9f9f9}
.top_pz_box .child{
	display:inline-block;
	color:#666;
	width:110px;
	height:46px;
	line-height:46px;
	padding-left:60px;
	margin:0 40px;
	font-size:16px;
	text-align:left}
.top_pz_box .ico01{
	background:url(../images/home-ico01.png) left no-repeat}
.top_pz_box .ico02{
	background:url(../images/home-ico02.png) left no-repeat}
.top_pz_box .ico03{
	background:url(../images/home-ico03.png) left no-repeat}
.top_pz_box .ico04{
	background:url(../images/home-ico04.png) left no-repeat}

.line_trip_box,
.hotel_trip_box,
.spot_trip_box,
.car_trip_box,
.tuan_trip_box,
.visa_trip_box,
.article_trip_box{
	float:left;
	width:1200px;
	margin-top:30px}
.trip_tit{
	float:left;
	width:1155px;
	height:50px;
	line-height:50px;
	font-size:28px;
	padding-left:45px;
	border-bottom:1px dotted #8e8e8e}
.line_trip_box .trip_tit{
	color:#5ab3ff;
	background:url(../images/home-index2-ico05.png) no-repeat 0 10px}
.hotel_trip_box .trip_tit{
	color:#89c62e;
	background:url(../images/home-index2-ico05.png) no-repeat 0 -52px}
.spot_trip_box .trip_tit{
	color:#fc924c;
	background:url(../images/home-index2-ico05.png) no-repeat 0 -114px}
.car_trip_box .trip_tit{
	color:#5ab3ff;
	background:url(../images/home-index2-ico05.png) no-repeat 0 -176px}
.tuan_trip_box .trip_tit{
	color:#89c62e;
	background:url(../images/home-index2-ico05.png) no-repeat 0 -238px}
.visa_trip_box .trip_tit{
	color:#fc924c;
	background:url(../images/home-index2-ico05.png) no-repeat 0 -300px}
.article_trip_box .trip_tit{
	color:#89c62e;
	background:url(../images/home-index2-ico05.png) no-repeat 0 -362px}
.article_trip_box .trip_tit em{
	float:left;
	font-style:normal}
.product_box{
	float:left;
	width:1200px;
	margin-top:15px}
.sidle_hot{
	float:left;
	width:180px;
}
.sidle_hot h3{
	float:left;
	color:#545454;
	width:180px;
	height:24px;
	line-height:24px;
	font-size:16px}
.sidle_hot ul{
    float: left;
    width: 180px;
    height: 424px;
    margin-top: 20px;
    background: #f5f5f5;
}
.sidle_hot ul li{
	float:left;
	width:168px;
    padding: 0 6px;
	position:relative;
	margin-top:9px}
.sidle_hot ul li s{
	display:block;
	width:36px;
	height:36px;
	position:absolute;
	left:10px;
	top:5px;
	background:url(../images/hot-sell-ico.png) left no-repeat}
.sidle_hot ul li .pic{
    float: left;
    width: 88px;
    height: 60px;
	margin-right: 6px;
    overflow: hidden;
}
.sidle_hot ul li .pic > a{
	display: table-cell;
	width: 88px;
	height: 60px;
	vertical-align: middle;
	text-align: center;
}
.sidle_hot ul li .pic > a img{
    max-width: 88px;
    max-height: 60px;
    vertical-align: middle;
}
.sidle_hot ul li img{
	border-radius:3px}
.sidle_hot ul li p{
	float:left;
	width:74px}
.sidle_hot ul li .tit a{
	float:left;
	color:#666;
	width:74px;
	height:32px;
	line-height:16px;
	overflow:hidden;}
.sidle_hot ul li .tit a:hover{
	color:#f60}
.sidle_hot ul li .jg{
	color:#fe840c;
    margin-top: 8px;
    font-size: 14px;
    font-weight:bold;
    font-family: Arial, "微软雅黑";
}

.con_list{
	float:right;
	width:1000px}
.con_list .st-tabnav{
	float:left;
	width:1000px}
.con_list .st-tabnav span,
.car_con_list .st-tabnav span,
.article_con .st-tabnav span{
	float:left;
	color:#353535;
	height:24px;
	line-height:24px;
	padding:0 10px;
	margin-right:10px;
	cursor:pointer;
	font-size:14px}
.con_list .st-tabnav span.on,
.car_con_list .st-tabnav span.on,
.article_con .st-tabnav span.on{
	color:#fff;
	background:#fe840c;
	border-radius:3px}
.con_list .st-tabnav a.more,
.car_con_list .st-tabnav a.more,
.trip_tit a.more{
	color:#31a0ff;
	float:right;
	height:24px;
	line-height:24px;
	font-size:14px}
.trip_tit a.more{
	height:50px;
	line-height:50px}
.con_list .st-tabcon,
.con_list .st-tabcon ul{
	float:left;
	width:780px}
.con_list .st-tabcon ul li,
.car_con_list .st-tabcon ul li,
.tuan_con_list .st-tabcon ul li{
	float:left;
	width:180px;
	height:202px;
	margin:20px 20px 0 0;
	background:#f5f5f5}
.con_list .st-tabcon ul li:hover,
.car_con_list .st-tabcon ul li:hover,
.tuan_con_list .st-tabcon ul li:hover{
box-shadow:3px 3px 5px #e5e5e5}
.con_list .st-tabcon ul li.mr_0,
.car_con_list .st-tabcon ul li.mr_0,
.tuan_con_list .st-tabcon ul li.mr_0{
	margin-right:0}
.con_list .st-tabcon ul li .pic,
.car_con_list .st-tabcon ul li .pic,
.tuan_con_list .st-tabcon ul li .pic{
	display: table-cell;
    width: 180px;
    height: 122px;
	vertical-align: middle;
	text-align: center;
    overflow: hidden;
}
.con_list .st-tabcon ul li .pic img,
.car_con_list .st-tabcon ul li .pic img,
.tuan_con_list .st-tabcon ul li .pic img{
	max-width: 180px;
	max-height: 122px;
	vertical-align: middle;
}
.con_list .st-tabcon ul li a.tit,
.car_con_list .st-tabcon ul li a.tit,
.tuan_con_list .st-tabcon ul li a.tit{
	color:#535353;
	float:left;
	width:160px;
	height:40px;
	line-height:20px;
	padding:0 10px;
	margin-top:5px;
	overflow:hidden;
	font-size:14px}
.con_list .st-tabcon ul li a:hover,
.car_con_list .st-tabcon ul li a:hover,
.tuan_con_list .st-tabcon ul li a:hover{
	color:#f60}
.con_list .st-tabcon ul li span.price,
.car_con_list .st-tabcon ul li span.price,
.tuan_con_list .st-tabcon ul li span.price{
	float:left;
	color:#ff6c00;
	width:160px;
	height:35px;
	line-height:35px;
	padding:0 10px;
	font-size:16px}
.con_list .st-tabcon ul li span.price b,
.car_con_list .st-tabcon ul li span.price b,
.tuan_con_list .st-tabcon ul li span.price b{
	font-size:20px;
	font-family:Arial}
.con_list .ad_img,
.car_trip_box .ad_img,
.tuan_con_list .ad_img{
	float:right;
	width:200px;
	max-height: 424px;
	margin-top:20px;
	overflow:hidden}
.tuan_con_list .ad_img{
	margin-top:0}

.car_con_list{
	float:left;
	width:980px}
.car_con_list .st-tabcon,
.car_con_list .st-tabcon ul{
	float:left;
	width:980px}
.tuan_con_list{
	float:left;
	width:1200px}
.tuan_con_list .st-tabcon,
.tuan_con_list .st-tabcon ul{
	float:left;
	width:980px}
.tuan_con_list .st-tabcon ul li{
	margin-top:0;
	position:relative}
.tuan_con_list .st-tabcon ul li .dz_ico{
	position:absolute;
	left:12px;
	top:0;
	display:block;
	color:#fff;
	width:71px;
	height:29px;
	line-height:29px;
	text-align:center;
	background:url(../images/tuan-dz.png) left no-repeat}
.tuan_con_list .st-tabcon ul li .dz_ico b{
	font-size:16px}

.visa_con_list,
.visa_con_list ul{
	float:left;
	width:1200px}
.visa_con_list ul li{
	float:left;
	width:260px;
	height:62px;
	margin:10px 0 15px 34px}
.visa_con_list ul li .pic{
    display: table-cell;
    width: 92px;
    height: 62px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #c3c3c3;
}
.visa_con_list ul li img{
    max-width: 92px;
    max-height: 62px;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.visa_con_list ul li p{
	float:left;
	width:160px;
	padding-left:6px}
.visa_con_list ul li p a,
.visa_con_list ul li p span{
	float:left;
	color:#3a3a3a;
	width:160px;
	height:31px;
	line-height:31px;
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.visa_con_list ul li p span{
	color:#ff7926;
	font-size:20px;
	font-weight:bold}
.visa_con_list ul li p span b{
	font-family:Arial;
	font-weight:bold}

.article_con .st-tabnav{
	float:left;
	height:50px;
	margin-left:280px}
.article_con .st-tabnav span{
	margin-top:13px}
.article_con .st-tabcon{
	float:left;
	width:1140px;
	margin-top:15px;
	padding:0 30px}
.article_con .st-tabcon .first{
	float:left;
	width:370px}
.article_con .st-tabcon .first .pic{
    float: left;
    width: 370px;
    height: 252px;
}
.article_con .st-tabcon .first .pic > a{
    display: table-cell;
    width: 370px;
    height: 252px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.article_con .st-tabcon .first .pic > a > img{
    max-width: 370px;
    max-height: 252px;
    vertical-align: middle;
}
.article_con .st-tabcon .first .tit,
.article_con .st-tabcon .first .tit a{
	float:left;
	color:#000;
	width:370px;
	height:30px;
	line-height:30px;
	font-size:16px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.article_con .st-tabcon .first .tit a:hover{
	color:#f60}
.article_con .st-tabcon .first .txt{
	float:left;
	color:#939090;
	width:370px;
	max-height:40px;
	line-height:20px;
	overflow:hidden}

.article_con .st-tabcon .second{
	float:right;
	width:740px}
.second ul{
	float:left;
	width:740px;}
.second ul li{
	float:left;
	width:360px;
	margin-right:20px;
	padding-bottom:15px}
.second ul li.mr_0{
	margin-right:0}
.second ul li p.tit,
.second ul li p.tit a{
	float:left;
	color:#333;
	width:360px;
	height:30px;
	line-height:30px;
	font-size:16px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.second ul li p.tit{
	background:url(../images/arrow-left-ico.png) left no-repeat}
.second ul li p.tit a{
	width:340px;
	padding-left:20px;}
.second ul li p.txt{
	float:left;
	color:#939090;
	width:340px;
	height:36px;
	line-height:18px;
	padding-left:20px;
	font-size:12px;
	overflow:hidden}