@charset "utf-8";
/*首页焦点图*/
.st-focus-banners{
    float: left;
    width: 100%;
    min-width: 1200px;
    height: 420px;
    position: relative;
    overflow: hidden;
}
.st-focus-banners .banners{
    width: 1920px;
    height: 420px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
}
.st-focus-banners .banners > ul > li > a{
    display: table-cell;
    width: 1920px;
    height: 420px;
    vertical-align: middle;
    text-align: center;
}
.st-focus-banners .banners > ul > li > a img{
    vertical-align: middle;
}
.st-focus-banners .focus{
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 20px;
    z-index:99;
    text-align: center;
}
.st-focus-banners .focus > ul{
    height: 12px;
}
.st-focus-banners .focus > ul > li{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    cursor: pointer;
    vertical-align: top;
    background: #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.st-focus-banners .focus > ul > li.on{
    background: #00b7ee;
}

.top_pz_box{
	float:left;
	width:100%;
	height:46px;
	padding:10px 0;
	font-size:0;
	text-align:center;
	background:#f9f9f9}
.top_pz_box .child{
	display:inline-block;
	color:#666;
	width:110px;
	height:46px;
	line-height:46px;
	padding-left:60px;
	margin:0 40px;
	font-size:16px;
	text-align:left}
.top_pz_box .ico01{
	background:url(../images/home-ico01.png) left no-repeat}
.top_pz_box .ico02{
	background:url(../images/home-ico02.png) left no-repeat}
.top_pz_box .ico03{
	background:url(../images/home-ico03.png) left no-repeat}
.top_pz_box .ico04{
	background:url(../images/home-ico04.png) left no-repeat}

.line_trip_box,
.hotel_trip_box,
.spot_trip_box,
.car_trip_box,
.tuan_trip_box,
.visa_trip_box,
.article_trip_box{
	float:left;
	width:1200px;
	margin-top:30px}
.trip_tit{
	float:left;
	width:1200px;
	border-bottom:2px solid #ff7f01}
.trip_tit h3{
	float:left;
	color:#fff;
	width:100px;
	height:34px;
	line-height:34px;
	padding-left:50px;
	margin-right:20px;
	font-size:20px;
	font-style:normal;
	font-weight:500;
	background:#ff7f01}
.product_box{
	float:left;
	width:1200px;
	margin-top:15px}


.con_list{
	float:left;
	width:1200px}
.con_list .st-tabnav,
.car_con_list .st-tabnav,
.tuan_con_list .st-tabnav{
	float:left;
	width:1200px;
	height:34px;
	border-bottom:2px solid #ff7f01}
.con_list .st-tabnav h3,
.car_con_list .st-tabnav h3,
.tuan_con_list .st-tabnav h3{
	float:left;
	color:#fff;
	width:100px;
	height:34px;
	line-height:34px;
	padding-left:50px;
	margin-right:20px;
	font-size:20px;
	font-weight:500}
.line_trip_box .con_list .st-tabnav h3{
	background:url(../images/home-ico05.png) no-repeat 15px 2px #ff7f01}
.hotel_trip_box .con_list .st-tabnav h3{
	background:url(../images/home-ico05.png) no-repeat 15px -60px #ff7f01}
.spot_trip_box .con_list .st-tabnav h3{
	background:url(../images/home-ico05.png) no-repeat 15px -122px #ff7f01}
.car_trip_box .car_con_list .st-tabnav h3{
	background:url(../images/home-ico05.png) no-repeat 15px -182px #ff7f01}
.tuan_trip_box .trip_tit h3{
	background:url(../images/home-ico05.png) no-repeat 15px -246px #ff7f01}
.visa_trip_box .trip_tit h3{
	background:url(../images/home-ico05.png) no-repeat 15px -308px #ff7f01}
.article_trip_box .trip_tit h3{
	background:url(../images/home-ico05.png) no-repeat 15px -372px #ff7f01}
.con_list .st-tabnav span,
.car_con_list .st-tabnav span,
.article_con .st-tabnav span{
	float:left;
	color:#353535;
	height:24px;
	line-height:24px;
	padding:0 10px;
	margin:5px 10px 0 0;
	cursor:pointer;
	font-size:14px}
.con_list .st-tabnav span.on,
.car_con_list .st-tabnav span.on,
.article_con .st-tabnav span.on{
	color:#fff;
	background:#fe840c;
	border-radius:3px}

.con_list .st-tabnav a.more,
.car_con_list .st-tabnav a.more,
.trip_tit a.more{
	color:#999;
	float:right;
	height:24px;
	line-height:24px;
	font-size:14px}
.trip_tit a.more{
	height:34px;
	line-height:34px}
.con_list .st-tabcon,
.con_list .st-tabcon ul{
	float:left;
	width:936px}
.car_con_list .st-tabcon ul li,
.tuan_con_list .st-tabcon ul li{
	float:left;
	width:220px;
	height:216px;
	margin:20px 20px 0 0;
	background:#f5f5f5}
.con_list .st-tabcon ul li{
	float:left;
	width:294px;
	height:268px;
	margin:20px 27px 10px 0;
	background:#f5f5f5}
.car_con_list .st-tabcon ul li .pic{
    display: table-cell;
	width: 220px;
	height: 150px;
    vertical-align: middle;
    text-align: center;
	overflow: hidden;
}
.car_con_list .st-tabcon ul li .pic img{
	max-width: 220px;
	max-height: 150px;
    vertical-align: middle;
}
.con_list .st-tabcon ul li:hover,
.car_con_list .st-tabcon ul li:hover,
.tuan_con_list .st-tabcon ul li:hover{
	box-shadow:3px 3px 5px #e5e5e5}
.con_list .st-tabcon ul li.mr_0,
.car_con_list .st-tabcon ul li.mr_0,
.tuan_con_list .st-tabcon ul li.mr_0{
	margin-right:0}
.con_list .st-tabcon ul li .pic{
	display: table-cell;
	width: 294px;
	height: 200px;
    vertical-align: middle;
    text-align: center;
	overflow: hidden;
}
.con_list .st-tabcon ul li .pic img{
	max-width: 294px;
	max-height: 200px;
    vertical-align: middle;
}
.con_list .st-tabcon ul li a.tit,
.car_con_list .st-tabcon ul li a.tit,
.tuan_con_list .st-tabcon ul li a.tit{
	color:#333;
	float:left;
	width:200px;
	height:24px;
	line-height:24px;
	padding:0 10px;
	margin-top:5px;
	overflow:hidden;
	font-size:14px}
.con_list .st-tabcon ul li a.tit{
	width:274px;
	height:28px;
	line-height:28px}
.con_list .st-tabcon ul li a:hover,
.car_con_list .st-tabcon ul li a:hover,
.tuan_con_list .st-tabcon ul li a:hover{
	color:#f60}
.con_list .st-tabcon ul li span.price,
.car_con_list .st-tabcon ul li span.price,
.tuan_con_list .st-tabcon ul li span.price{
	float:left;
	color:#ff6c00;
	width:160px;
	height:35px;
	line-height:35px;
	padding:0 10px;
	font-size:16px}
.con_list .st-tabcon ul li span.price b,
.car_con_list .st-tabcon ul li span.price b,
.tuan_con_list .st-tabcon ul li span.price b{
	font-size:20px;
	font-family:Arial}
.con_list .ad_img,
.car_trip_box .ad_img,
.tuan_con_list .ad_img{
	float:right;
	width:240px;
	margin-top:20px;
	overflow:hidden}
.tuan_con_list .ad_img{
	margin-top:0}


.car_con_list{
	float:left;
	width:1200px}
.car_con_list .st-tabcon,
.car_con_list .st-tabcon ul{
	float:left;
	width:943px}
.tuan_con_list{
	float:left;
	width:1200px}
.tuan_con_list .st-tabcon,
.tuan_con_list .st-tabcon ul{
	float:left;
	width:943px}
.tuan_con_list .st-tabcon ul li{
	margin-top:0;
	position:relative}
.tuan_con_list .st-tabcon ul li .pic{
    display: table-cell;
	width: 220px;
	height: 150px;
    vertical-align: middle;
    text-align: center;
	overflow: hidden;
}
.tuan_con_list .st-tabcon ul li .pic img{
    vertical-align: middle;
}
.tuan_con_list .st-tabcon ul li .dz_ico{
	position:absolute;
	left:12px;
	top:0;
	display:block;
	color:#fff;
	width:71px;
	height:29px;
	line-height:29px;
	text-align:center;
	background:url(../images/tuan-dz.png) left no-repeat}
.tuan_con_list .st-tabcon ul li .dz_ico b{
	font-size:16px}

.visa_con_list,
.visa_con_list ul{
	float:left;
	width:1200px}
.visa_con_list ul li{
	float:left;
	width:260px;
	height:62px;
	margin:10px 34px 15px 0;}
.visa_con_list ul li .pic{
    display: table-cell;
    width: 92px;
    height: 62px;
    vertical-align: middle;
    text-align: center;
    border:1px solid #c3c3c3;
    border-radius:5px
}
.visa_con_list ul li .pic img{
	max-width: 92px;
	max-height: 62px;
    vertical-align: middle;
    border-radius:5px}
.visa_con_list ul li p{
	float:left;
	width:160px;
	padding-left:6px}
.visa_con_list ul li p a,
.visa_con_list ul li p span{
	float:left;
	color:#3a3a3a;
	width:160px;
	height:31px;
	line-height:31px;
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.visa_con_list ul li p a:hover{
	color:#f60;
	text-decoration:underline}
.visa_con_list ul li p span{
	color:#ff7926;
	font-size:20px;
	font-weight:bold}
.visa_con_list ul li p span b{
	font-family:Arial;
	font-weight:bold}

.article_con .st-tabnav{
	float:left;
	height:34px}
.article_con .st-tabcon{
	float:left;
	width:1200px;
	margin-top:15px}
.article_con .st-tabcon .first{
	float:left;
	width:370px}
.article_con .st-tabcon .first .pic{
    float: left;
    width: 370px;
    height: 252px;
}
.article_con .st-tabcon .first .pic a{
    display: table-cell;
    width: 370px;
    height: 252px;
    vertical-align: middle;
    text-align: center;
}
.article_con .st-tabcon .first a img{
	max-width: 370px;
	max-height: 252px;
    vertical-align: middle;
}
.article_con .st-tabcon .first .tit,
.article_con .st-tabcon .first .tit a{
	float:left;
	color:#000;
	width:370px;
	height:30px;
	line-height:30px;
	font-size:16px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.article_con .st-tabcon .first .tit a:hover{
	color:#f60}
.article_con .st-tabcon .first .txt{
	float:left;
	color:#939090;
	width:370px;
	max-height:40px;
	line-height:20px;
	overflow:hidden}

.article_con .st-tabcon .second{
	float:right;
	width:800px}
.second ul{
	float:left;
	width:800px;}
.second ul li{
	float:left;
	width:390px;
	margin-right:20px;
	padding-bottom:15px}
.second ul li.mr_0{
	margin-right:0}
.second ul li p.tit,
.second ul li p.tit a{
	float:left;
	color:#333;
	width:390px;
	height:30px;
	line-height:30px;
	font-size:16px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.second ul li p.tit a:hover{
	color:#f60;
	text-decoration:underline}
.second ul li p.tit{
	background:url(../images/arrow-left-ico.png) left no-repeat}
.second ul li p.tit a{
	width:340px;
	padding-left:20px;}
.second ul li p.txt{
	float:left;
	color:#939090;
	width:370px;
	height:36px;
	line-height:18px;
	padding-left:20px;
	font-size:12px;
	overflow:hidden}