#calendar_tab{
    text-align: center;
}
#calendar_tab table {
    border-collapse: collapse;
    border-spacing: 0;
    border-left: none;
    border-right: none;

}
#calendar_tab table .num {
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#calendar_tab table td {
    border: 1px solid #dcdcdc;
    width:54px;
    max-height:40px;
}
#calendar_tab .top_title{border: 1px solid #fff;line-height: 25px;}
#calendar_tab able .yes_yd {
    color: #f60;
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
#calendar_tab table .price{
    color: #f60;
    float: left;
    width: 100%;
    line-height: 16px;
    text-align: center;
    height: 16px;
}
#calendar_tab table .roombalance_b{
    color: #f60;
    font-weight: 300;
    font-size:11px;
}
#calendar_tab .kucun{
    float: left;
    color: #ccc;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}
#calendar_tab tr td{
    height: 50px;
}