<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>cms5.0首页</title>
<link type="text/css" rel="stylesheet" href="{$tpl}/cms5.0/css/help.css" />
<link type="text/css" rel="stylesheet" href="{$tpl}/cms5.0/css/header.css" />
<link type="text/css" rel="stylesheet" href="{$tpl}/cms5.0/css/footer.css" />
<link type="text/css" rel="stylesheet" href="{$tpl}/cms5.0/css/base.css" />
<script type="text/javascript" src="{$tpl}/cms5.0/js/jquery.min.js"></script>
<script type="text/javascript" src="{$tpl}/cms5.0/js/base.js"></script>
</head>

<body>

	<div class="web-top">
  	<div class="wm-1200">
      <div class="notice-txt">STOURWEB CMS 专注旅游CMS STOURWEB CMS...</div>
      <div class="scroll-order">
      	<ul>
        	<li>15129***2小时前评论了青城山风景区</li>
        	<li>15129***2小时前评论了青城山风景区</li>
        	<li>15129***2小时前评论了青城山风景区</li>
        	<li>15129***2小时前评论了青城山风景区</li>
        	<li>15129***2小时前评论了青城山风景区</li>
        </ul>
      </div>
      <div class="top-login">
      	<a class="dl" href="#">登录</a>
        <a class="zc" href="#">免费注册</a>
        <a class="dd" href="#"><i></i>订单查询</a>
        <dl class="dh">
          <dt><i></i>网站导航</dt>
          <dd>
            <a href="#">旅游线路</a>
            <a href="#">景点大全</a>
            <a href="#">酒店预订</a>
            <a href="#">攻略</a>
            <a href="#">美图</a>
            <a href="#">租车</a>
            <a href="#">签证</a>
            <a href="#">团购</a>
          </dd>
        </dl>
        <a class="lx_us" href="#"><i></i>联系我们</a>
      </div>
    </div>
  </div><!--顶部-->

	<div class="st-header">
  	<div class="wm-1200">
      <div class="st-logo"><a href="#"><img class="fl" src="{$tpl}/cms5.0/images/logo.png" alt="logo" /></a></div>
      <div class="st-top-search">
      	<div class="st-search-down">
        	<strong>线路<i></i></strong>
          <ul class="st-down-select">
            <li>线路</li>
            <li>酒店</li>
            <li>租车</li>
            <li>门票</li>
            <li>团购</li>
            <li>签证</li>
          </ul>
        </div>
        <input type="text" class="st-txt" placeholder="输入目的地、酒店、攻略" />
        <span>
        	<a href="#">巴厘岛</a>
        	<a href="#">九寨沟</a>
        	<a href="#">峨眉山</a>
        </span>
        <input type="button" value="搜索" class="st-btn" />
      </div>
      <div class="st-link-way">
        <strong>客服电话：</strong>
        <em>400-6008-4006</em>
      </div>
    </div>
  </div><!--header-->
  
  <div class="st-nav">
  	<div class="wm-1200">
  	<div class="st-global">
    	<div class="global-bt">旅游导航</div>
      <div class="global-list" style=" display:none">
      	<div class="gl-list-tabbox">
        	<h3>
          	<strong><em><img src="{$tpl}/cms5.0/images/pic/ico01.png" /></em><a href="#">国内游</a></strong>
            <p>
              <a href="#">张家界</a>
              <a href="#">青岛</a>
              <a href="#">贵州</a>
              <a href="#">长白山</a>
              <a href="#">江西</a>
            </p>
            <i class="arrow-rig"></i>
          </h3>
          <div class="tabcon-item">
          	<div class="item-list">
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
            </div>
            <div class="ad-box"><img class="fl" src="{$tpl}/cms5.0/images/pic/10.jpg" width="980" height="200" /></div>
          </div>
        </div>
        <div class="gl-list-tabbox">
        	<h3>
          	<strong><em><img src="{$tpl}/cms5.0/images/pic/ico01.png" /></em><a href="#">出境游</a></strong>
            <p>
              <a href="#">蜀南竹海</a>
              <a href="#">西昌</a>
              <a href="#">泸沽湖</a>
            </p>
            <i class="arrow-rig"></i>
          </h3>
          <div class="tabcon-item">
          	<div class="item-list">
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
            </div>
            <div class="ad-box"><img class="fl" src="{$tpl}/cms5.0/images/pic/15.jpg" width="980" height="200" /></div>
          </div>
        </div>
        <div class="gl-list-tabbox">
        	<h3>
          	<strong><em><img src="{$tpl}/cms5.0/images/pic/ico01.png" /></em><a href="#">海岛游</a></strong>
            <p>
              <a href="#">普吉岛</a>
              <a href="#">新加坡</a>
              <a href="#">塞班岛</a>
              <a href="#">巴黎</a>
            </p>
            <i class="arrow-rig"></i>
          </h3>
          <div class="tabcon-item">
          	<div class="item-list">
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
            </div>
            <div class="ad-box"><img class="fl" src="{$tpl}/cms5.0/images/pic/14.jpg" width="980" height="200" /></div>
          </div>
        </div>
        <div class="gl-list-tabbox">
        	<h3>
          	<strong><em><img src="{$tpl}/cms5.0/images/pic/ico01.png" /></em><a href="#">亲子游</a></strong>
            <p>
              <a href="#">江西</a>
              <a href="#">贵州</a>
              <a href="#">长白山</a>
            </p>
            <i class="arrow-rig"></i>
          </h3>
          <div class="tabcon-item">
          	<div class="item-list">
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
            </div>
            <div class="ad-box"><img class="fl" src="{$tpl}/cms5.0/images/pic/13.jpg" width="980" height="200" /></div>
          </div>
        </div>
        <div class="gl-list-tabbox">
        	<h3>
          	<strong><em><img src="{$tpl}/cms5.0/images/pic/ico01.png" /></em><a href="#">公司游</a></strong>
            <p>
              <a href="#">张家界</a>
              <a href="#">峨眉山</a>
              <a href="#">九寨沟</a>
            </p>
            <i class="arrow-rig"></i>
          </h3>
          <div class="tabcon-item">
          	<div class="item-list">
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
            </div>
            <div class="ad-box"><img class="fl" src="{$tpl}/cms5.0/images/pic/12.jpg" width="980" height="200" /></div>
          </div>
        </div>
        <div class="gl-list-tabbox">
        	<h3>
          	<strong><em><img src="{$tpl}/cms5.0/images/pic/ico01.png" /></em><a href="#">主题游</a></strong>
            <p>
              <a href="#">香港迪士尼乐园</a>
              <a href="#">香港</a>
              <a href="#">日月潭</a>
            </p>
            <i class="arrow-rig"></i>
          </h3>
          <div class="tabcon-item">
          	<div class="item-list">
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="#">四川</a></dt>
                <dd>
                  <a href="#">峨眉</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                  <a href="#">乐山</a>
                  <a href="#">九寨沟</a>
                  <a href="#">稻城亚丁</a>
                  <a href="#">蜀南竹海</a>
                  <a href="#">西昌</a>
                  <a href="#">泸沽湖</a>
                </dd>
              </dl>
            </div>
            <div class="ad-box"><img class="fl" src="{$tpl}/cms5.0/images/pic/11.jpg" width="980" height="200" /></div>
          </div>
        </div>
      </div>
    </div>
  	<div class="st-menu">
    	<a href="#">首页<s></s></a>
    	<a class="active" href="#">线路<i class="st-hot-ico"></i><s></s></a>
    	<a href="#">酒店<i class="st-new-ico"></i><s></s></a>
    	<a href="#">租车<i class="st-jing-ico"></i><s></s></a>
    	<a href="#">团购<s></s></a>
    	<a href="#">签证<i class="st-jian-ico"></i><s></s></a>
    	<a href="#">攻略<s></s></a>
    	<a href="#">相册<s></s></a>
    	<a href="#">问答<s></s></a>
    </div>
    </div>
  </div><!--主导航-->
  
  
  
  <div class="big">
  	<div class="wm-1200">
    
    	<div class="st-guide">
        <a href="#">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;帮助中心
      </div><!--面包屑-->
    
    	<div class="st-main-page">
				
        <div class="help-side-menu">
        	<a class="on" href="#">参团信息</a>
        	<a href="#">支付定金</a>
        	<a href="#">签订旅游合同</a>
        	<a href="#">正式出团</a>
          <a href="#">电话回访</a>
        </div><!-- 帮助导航 -->
        
        <div class="help-main-box">
        	<div class="help-listCon">
          	<ul>
            	<li><a href="#">对支付团款的建议</a></li>
            	<li><a href="#">怎样签署旅游合同</a></li>
            	<li><a href="#">旅游产品名词解释</a></li>
            </ul>
          </div>
        </div><!-- 列表内容 -->
        
      </div>
    
    </div>
  </div>
  
  <div class="st-brand">
  	<div class="wm-1200">
    	
      <div class="st-serve">
      	<dl class="ico01 bor_0">
        	<dt></dt>
          <dd>
          	<em>阳光价格</em>
            <span>同类产品，保证低价</span>
          </dd>
        </dl>
      	<dl class="ico02">
        	<dt></dt>
          <dd>
          	<em>阳光行程</em>
            <span>品质护航，透明公开</span>
          </dd>
        </dl>
      	<dl class="ico03">
        	<dt></dt>
          <dd>
          	<em>阳光服务</em>
            <span>专属客服，快速响应</span>
          </dd>
        </dl>
      	<dl class="ico04">
        	<dt></dt>
          <dd>
          	<em>救援保障</em>
            <span>途中意外，保证援助</span>
          </dd>
        </dl>
      </div>
      
    </div>
  </div><!--品牌介绍-->
  
  <div class="st-help">
  	<div class="wm-1200">
    
    	<div class="help-lsit">
      	<dl>
        	<dt><a href="#">常见问题</a></dt>
          <dd>
          	<a href="#">对支付团款的建议</a>
          	<a href="#">怎样签署旅游合同</a>
          	<a href="#">旅游产品名词解释</a>
          </dd>
        </dl>
      	<dl>
        	<dt><a href="#">付款方式</a></dt>
          <dd>
          	<a href="#">对支付团款的建议</a>
          	<a href="#">怎样签署旅游合同</a>
          	<a href="#">旅游产品名词解释</a>
          </dd>
        </dl>
      	<dl>
        	<dt><a href="#">签订合同</a></dt>
          <dd>
          	<a href="#">对支付团款的建议</a>
          	<a href="#">怎样签署旅游合同</a>
          	<a href="#">旅游产品名词解释</a>
          </dd>
        </dl>
      	<dl>
        	<dt><a href="#">付款方式</a></dt>
          <dd>
          	<a href="#">对支付团款的建议</a>
          	<a href="#">怎样签署旅游合同</a>
          	<a href="#">旅游产品名词解释</a>
          </dd>
        </dl>
      	<dl>
        	<dt><a href="#">签订合同</a></dt>
          <dd>
          	<a href="#">对支付团款的建议</a>
          	<a href="#">怎样签署旅游合同</a>
          	<a href="#">旅游产品名词解释</a>
          </dd>
        </dl>
        <div class="st-wechat">
        	<img class="fl" src="{$tpl}/cms5.0/images/pic/wx.gif" width="94" height="94" />
          <span>微信扫一扫，<br />优惠多多！</span>
        </div>
      </div>
    
    </div>
  </div><!--帮助 扫码-->
  
  <div class="st-footer">
  	<div class="wm-1200">
    	
      <div class="st-foot-menu">
      	<a href="#">关于我们</a>
        <a href="#">联系我们</a>
        <a href="#">隐私保护</a>
        <a href="#">支付方式</a>
        <a href="#">法律声明</a>
        <a href="#">公司证照</a>
      </div><!--底部导航-->
      
      <div class="st-foot-edit">
      	<p>当穿越已经和睡觉一样容易，当历史已经千穿百孔，当白领阿哥总裁把秦汉三国唐宋元明清穿得最后一点尊严都没有的时候你是否还记得曾经看过这样一部叫《尼罗河的女儿》的穿越漫...</p>
        <p>经千穿百孔，当白领阿哥总裁把秦汉三得曾经看过这样一部叫《尼罗河的女儿》的穿越漫...</p>
      	<p>Copyright2015思途CMS</p>
      </div><!--网站底部介绍-->
      
    </div>
  </div>
  
  <div class="st-link">
  	<div class="wm-1200">
    	
      <div class="st-link-list">
      	<dl>
        	<dt>友情链接：</dt>
          <dd>
          	<a href="#">旅游网</a>
          	<a href="#">蜂鸟网</a>
          	<a href="#">侠侣周边游</a>
          	<a href="#">慧择网</a>
          	<a href="#">机票大全</a>
          	<a href="#">沈阳旅行社</a>
          	<a href="#">长大导航</a>
          	<a href="#">车主之家</a>
          	<a href="#">乐视tv</a>
          	<a href="#">中国签证资讯网</a>
          	<a href="#">口碑网</a>
          	<a href="#">旅游攻略</a>
          	<a href="#">旅游网</a>
          	<a href="#">蜂鸟网</a>
          	<a href="#">侠侣周边游</a>
          	<a href="#">慧择网</a>
          	<a href="#">机票大全</a>
          	<a href="#">沈阳旅行社</a>
          	<a href="#">长大导航</a>
          	<a href="#">车主之家</a>
          	<a href="#">乐视tv</a>
          	<a href="#">中国签证资讯网</a>
          	<a href="#">口碑网</a>
          	<a href="#">旅游攻略</a>
          	<a href="#">旅游网</a>
          	<a href="#">蜂鸟网</a>
          	<a href="#">侠侣周边游</a>
          	<a href="#">慧择网</a>
          	<a href="#">机票大全</a>
          	<a href="#">沈阳旅行社</a>
          	<a href="#">长大导航</a>
          	<a href="#">车主之家</a>
          	<a href="#">乐视tv</a>
          	<a href="#">中国签证资讯网</a>
          	<a href="#">口碑网</a>
          	<a href="#">旅游攻略</a>
          	<a href="#">旅游网</a>
          	<a href="#">蜂鸟网</a>
          	<a href="#">侠侣周边游</a>
          	<a href="#">慧择网</a>
          	<a href="#">机票大全</a>
          	<a href="#">沈阳旅行社</a>
          	<a href="#">长大导航</a>
          	<a href="#">车主之家</a>
          	<a href="#">乐视tv</a>
          	<a href="#">中国签证资讯网</a>
          	<a href="#">口碑网</a>
          	<a href="#">旅游攻略</a>
          	<a href="#">旅游网</a>
          	<a href="#">蜂鸟网</a>
          	<a href="#">侠侣周边游</a>
          	<a href="#">慧择网</a>
          	<a href="#">机票大全</a>
          	<a href="#">沈阳旅行社</a>
          	<a href="#">长大导航</a>
          	<a href="#">车主之家</a>
          	<a href="#">乐视tv</a>
          	<a href="#">中国签证资讯网</a>
          	<a href="#">口碑网</a>
          	<a href="#">旅游攻略</a>
          </dd>
        </dl>
      </div>
      
    </div>
  </div><!--友情链接-->

</body>
</html>
