*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
    display: block;
}
body,
html,
div,
blockquote,
img,
label,
p,
h1,h2,h3,h4,h5,h6,
pre,
ul,ol,li,
dl,dt,dd,
form,
a,
fieldset,
input,
th,
td{
    margin:0;
    padding:0;
    border:0;
    outline:none;
    word-break: break-all;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
select,textarea{
    outline:none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
table {
    border-collapse:collapse;
    border-spacing:0}
fieldset,img {
    border:0}
address,caption,cite,code,dfn,em,i,strong,th,var{
    font-style:normal;
    font-weight:normal}
ol,ul {
    list-style:none;}
a{
    color:#333;
    text-decoration:none}
caption,th{
    text-align:left;}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal}
abbr,acronym{
    border:0}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.clearfix:before,
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.hide{
    display: none;
}



body{
    font-size: 0.3733333rem;
    background: #f3f3f3;
}

/* 公用头部 */
.header_top{
    height: 1.28rem;
    position: relative;
    border-bottom: 2px solid #e6e6e6;
    background: #fff;
}
.back-link-icon{
    display: block;
    width: 0.3rem;
    height: 0.48rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    background: url("../images/st-back-page-ico.png") center no-repeat;
}
.page-title-bar{
    height: 1.28rem;
    line-height: 1.28rem;
    font-size: 0.48rem;
    text-align: center;
}

/* 优惠券 */
.coupon-confirm-btn{
    color: #1fa1df;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    font-size: 0.4266667rem;
}

.wrap-content{
    display: block;
}

.coupon-tab-bar{
    height: 1rem;
    background: #fff;
}
.coupon-tab-bar .tab-list > li{
    float: left;
    width: 25%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}
.coupon-tab-bar .tab-list > li.on{
    border-bottom: 2px solid #22a4e0;
}

.receive-coupon-block,
.use-coupon-block{
    padding: 0 0.266667rem 0.266667rem;
}
.coupon-list > li{
    height: 2.53333333rem;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    background: #fff;
    font-size: 0.3733333rem;
    margin-top: 0.266667rem;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
.coupon-list .item-l{
    width: 5.6rem;
    margin-left: 0.266667rem;
}
.coupon-list .item-l .type{
    display: block;
    margin-top: 0.2666667rem;
    font-size: 0.4266667rem;
}
.coupon-list .item-l .txt{
    color: #999;
    height: 0.9866667rem;
    line-height: 1.4;
    overflow: hidden;
    margin-bottom: 0.1333333rem;
    font-size: 0.3466667rem;
}
.coupon-list .item-l .date{
    padding-top: 0.15rem;
    font-size: 0.2933333rem;
    border-top: 2px solid #e6e6e6;
}
.coupon-list .item-r{
    width: 2.53333333rem;
    height: 2.53333333rem;
    text-align: center;
    background: url("../images/coupon-ico001.png") no-repeat;
    background-size: cover;
}
.coupon-list .over .item-r,
.coupon-list .use .item-r,
.coupon-list .lose .item-r{
    background: url("../images/coupon-ico002.png") no-repeat;
    background-size: cover;
}
.coupon-list .item-r .jg{
    color: #fff;
    display: block;
    font-size: 0.6133333rem;
    padding: 0.4rem 0 0.1rem;
}
.coupon-list .item-r .sm{
    color: #fff;
    display: block;
    font-size: 0.266667rem;
}
.coupon-list .item-r .num{
    color: #ffa433;
    display: inline-block;
    padding: 0 10px;
    margin-top: 10px;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.2933333rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}
.coupon-list .label{
    width: 2.1733333rem;
    height: 1.64rem;
    position: absolute;
    top: 0.4666667rem;
    right: 1.8666667rem;
}
.coupon-list .before .label{
    background: url("../images/before-label-ico.png") no-repeat;
    background-size: cover;
}
.coupon-list .over .label{
    background: url("../images/over-label-ico.png") no-repeat;
    background-size: cover;
}
.coupon-list .use .label{
    background: url("../images/use-label-ico.png") no-repeat;
    background-size: cover;
}
.coupon-list .lose .label{
    background: url("../images/lose-label-ico.png") no-repeat;
    background-size: cover;
}

.coupon-list .attr-ty,
.coupon-list .attr-zs,
.coupon-list .attr-dh{
    color: #fff;
    width: 0.48rem;
    height: 1.3333333rem;
    position: absolute;
    top: 0;
    left: 0.2666667rem;
    padding-top: 0.1rem;
    text-align: center;
    font-size: 0.32rem;
}
.coupon-list .attr-ty{
    background: url("../images/attr-ty-ico.png") no-repeat;
    background-size: cover;
}
.coupon-list .attr-zs{
    background: url("../images/attr-zs-ico.png") no-repeat;
    background-size: cover;
}
.coupon-list .attr-dh{
    background: url("../images/attr-dh-ico.png") no-repeat;
    background-size: cover;
}
.use-coupon-block .coupon-list .item-l{
    margin-left: 1rem;
}
.use-coupon-block .coupon-list .item-r .jg{
    padding: 0.7rem 0 0.1rem;
}
.coupon-list .item-r .use-label{
    width: 0.88rem;
    height: 0.88rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../images/use-coupon-label.png") no-repeat;
    background-size: cover;
}

/* 产品订单、预订信息 */
.booking-info-block{
    margin-top: 0.2666667rem;
    background: #fff;
}
.block-tit-bar{
    height: 1.2533333rem;
    line-height: 1.2533333rem;
    padding: 0 0.2666667rem;
    border-bottom: 2px solid #e6e6e6;
}
.block-tit-bar strong{
    color: #1fa1df;
    font-size: 0.4266667rem;
}

.name-block{
    display: -webkit-box;
    display: -moz-box;
    padding: 0.43rem 0.27rem;
    overflow: hidden;
    background: #f5f5f5;
}
.name-block .bt{
    display: block;
    width: 2.24rem;
}
.name-block .txt{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.block-item > ul{
    padding: 0 0.27rem;
}
.block-item > ul > li{
    height: 1.28rem;
    display: -webkit-box;
    display: -moz-box;
    border-bottom: 2px solid #e6e6e6;
}
.block-item li .item-hd{
    display: block;
    width: 2rem;
    line-height: 1.28rem;
}
.block-item li .item-hd .down-ico{
    display: inline-block;
    width: 0.2rem;
    height: 0.33rem;
    vertical-align: middle;
    margin: -0.05rem 0 0 0.2rem;
    background: url("../images/arrow-more-ico.png") no-repeat;
    background-size: cover;
}
.block-item li > span{
    display: block;
    line-height: 1.28rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
.block-item .item-jg{
    font-size: 0.37rem;
}
.block-item .write-info{
    display: block;
    line-height: 1.28rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    vertical-align: top;
    border: 0;
    background: transparent;
}
.block-item .more-type{
    text-align: right;
}
.block-item .more-type .more-ico{
    display: inline-block;
    width: 0.2rem;
    height: 0.33rem;
    vertical-align: middle;
    margin: -0.05rem 0 0 0.2rem;
    background: url("../images/arrow-more-ico.png") no-repeat;
    background-size: cover;
}
.block-item .date-type{
    color: #dc2622;
}
.block-item .amount-opt-wrap{
    text-align: right;
}

.amount-opt-wrap{
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.amount-opt-wrap .sub-btn,
.amount-opt-wrap .add-btn{
    display: inline-block;
    color: #666;
    width: 0.77rem;
    height: 0.75rem;
    line-height: 0.75rem;
    vertical-align: middle;
    font-size: 0.5rem;
    text-align: center;
    background: #f5f5f5;
}
.amount-opt-wrap .sub-btn{
    border-right: 0;
}
.amount-opt-wrap .add-btn{
    border-left: 0;
}
.amount-opt-wrap .num-text{
    width: 0.77rem;
    height: 0.75rem;
    border: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0.37rem;
    background: #fff;
}


.block-item .nd{
    text-align: right;
}

.block-remarks{
    display: -webkit-box;
    display: -moz-box;
    padding: 0 0.2rem;
}
.block-remarks .item-hd{
    display: block;
    width: 2rem;
    line-height: 1.28rem;
}
.block-remarks .item-txt{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    margin: 0.2rem 0;
    padding: 0.2rem;
    line-height: 1.5;
    font-size: 0.34rem;
    background: #f5f5f5;
}

.made-receipt,
.write-address{
    height: 1.28rem;
    line-height: 1.28rem;
    margin-top: 0.2666667rem;
    padding: 0 0.2666667rem;
    position: relative;
    background: #fff;
}
.made-receipt strong,
.write-address strong{
    display: inline-block;
}
.made-receipt .check-box,
.write-address .check-box{
    display: inline-block;
    width: 0.614rem;
    height: 0.614rem;
    position: absolute;
    top: 0.34rem;
    right: 0.2666667rem;
    background: url("../images/check-un-ico.png") no-repeat;
    background-size: cover;
}
.made-receipt .check-box.on,
.write-address .check-box.on{
    background: url("../images/check-on-ico.png") no-repeat;
    background-size: cover;
}

.receipt-item{
    padding: 0 0.267rem;
    background: #fff;
}
.receipt-item > ul > li{
    display: -webkit-box;
    display: -moz-box;
    min-height: 1.28rem;
    border-top: 2px solid #e6e6e6;
}
.receipt-item .fp-hd{
    display: block;
    width: 2rem;
    height: 1.28rem;
    line-height: 1.28rem;
}
.receipt-item .fp-info{
    display: block;
    min-height: 1.28rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    text-align: right;
    border: 0;
}
.receipt-item textarea.fp-info{
    padding: 0.4rem 0 0;
}

.address-none,
.address-have{
    padding: 0 0.267rem;
    background: #fff;
}
.address-tr{
    display: -webkit-box;
    display: -moz-box;
    height: 1.28rem;
    line-height: 1.28rem;
    border-top: 2px solid #e6e6e6;
}
.address-tr .ads-ico{
    display: inline-block;
    width: 0.4rem;
    height: 0.59rem;
    vertical-align: middle;
    background: url("../images/address-ico.png") no-repeat;
    background-size: cover;
}
.address-tr .txt{
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding-left: 0.3rem;
}
.address-tr .more-ico,
.address-item .more-ico{
    display: block;
    width: 0.2rem;
    background: url("../images/arrow-more-ico.png") center no-repeat;
}

.address-item{
    display: -webkit-box;
    display: -moz-box;
    padding: 0.267rem 0;
    border-top: 2px solid #e6e6e6;
}
.address-item .ads-ico{
    display: block;
    width: 0.4rem;
    background: url("../images/address-ico.png") center no-repeat;
    background-size: contain;
}
.address-item .mid-nr{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding: 0 0.3rem;
}
.address-item .mid-nr .msg .mr{
    padding: 0.05rem 0.1rem;
    margin-left: 0.2rem;
    background: #f0f0f0;
}
.address-item .mid-nr .txt{
    float: left;
    padding-top: 0.3rem;
}


.block-item .item{
    display: inline-block;
    font-size: 0;
}
.block-item .item strong{
    font-size: 0.37rem;
}
.block-item .item .type{
    color: #f50;
    padding: 0.1rem 0.2rem;
    margin-left: 0.2rem;
    border: 1px solid #f50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.37rem;
}

.agreement-block{
    padding: 0.4rem 0.2666667rem;
}
.agreement-block .check-box{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    vertical-align: middle;
    margin: -0.1rem 0.1rem 0 0;
    background: url("../images/check-un-ico.png") no-repeat;
    background-size: cover;
}
.agreement-block .check-box.on{
    background: url("../images/check-on-ico.png") no-repeat;
    background-size: cover;
}
.agreement-block > a{
    color: #1fa1df;
}

.has-switch{
    width: 1.5rem;
    height: 1.28rem;
    position: relative;
}
.switch-animate{
    display: inline-block;
    width: 1.5rem;
    height: 0.7rem;
    position: absolute;
    top: 50%;
    margin-top: -0.35rem;
    vertical-align: middle;
    padding: 0.05rem;
    -webkit-border-radius: 0.35rem;
    -moz-border-radius: 0.35rem;
    border-radius: 0.35rem;
}
.switch-off{
    background: #eee;
}
.switch-on{
    background: #1fa1df;
}
.switch-animate .switch-circle{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.switch-off .switch-circle{
    float: left;
    background: #d2d2d2;
}
.switch-on .switch-circle{
    float: right;
    background: #fff;
}



    /* 登录提示 */
.login-hint-txt{
    font-size: 0.4rem;
    height: 1.2266667rem;
    line-height: 1.2266667rem;
    padding: 0 0.2666667rem;
    background: #fef7e7;
}
.login-hint-txt .login-link{
    color: #ff8c1a;
}


/* 底部固定 */
.bom-fixed-content{
    height: 1.35rem;
}
.bom-fixed-block{
    display: -webkit-box;
    display: -moz-box;
    height: 1.34rem;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 2px solid #e6e6e6;
    background: #fff;
}
.bom-fixed-block .total{
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding: 0 0.2666667rem;
}
.bom-fixed-block .total .jg{
    display: block;
    color: #fe7e13;
    padding-top: 0.2rem;
    font-size: 0.4rem;
}
.bom-fixed-block .total .fs{
    color: #999;
    display: block;
    padding-top: 0.1rem;
    font-size: 0.32rem;
}
.bom-fixed-block .order-show-list{
    display: block;
    height: 1.34rem;
    line-height: 1.34rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    text-align: center;
}
.bom-fixed-block .order-show-list .arrow-up-ico{
    display: inline-block;
    width: 0.23rem;
    height: 0.27rem;
    vertical-align: middle;
    margin: -0.05rem 0 0 0.14rem;
    background: url("../images/arrow-up-ico.png") no-repeat;
    background-size: cover;
}
.bom-fixed-block .now-booking-btn{
    color: #fff;
    display: block;
    width: 3.2rem;
    height: 1.34rem;
    line-height: 1.34rem;
    text-align: center;
    font-size: 0.48rem;
    background: #fe7e13;
}


/* 结算明细 */
.fee-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.34rem;
    z-index: 10;
    background: rgba(0,0,0,.6);
}
.fee-container{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
}
.fee-row{
    padding: 0.267rem;
    border-bottom: 2px solid #e6e6e6;
}
.fee-row .ze > em{
    color: #fe7e13;
}
.fee-row .sm{
    color: #999;
    padding-top: 0.2rem;
}
.mx-list{
    padding: 0 0.267rem;
}
.mx-list li{
    display: -webkit-box;
    display: -moz-box;
    line-height: 0.8rem;
}
.mx-list li > strong{
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
.mx-list li > em{
    display: block;
    width: 2rem;
    text-align: right;
}
.mx-list li .zk{
    display: block;
    color: #fe7e13;
    width: 100%;
    text-align: right;
}

/* 底部弹出列表 */
.foo-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background: rgba(0,0,0,.6);
}
.foo-container{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
}
.foo-container .bar{
    padding: 0.2rem 0.267rem;
    border-bottom: 2px solid #e6e6e6;
}
.foo-container .bar a{
    color: #1fa1df;
    font-size: 0.427rem;
}
.foo-container .list li{
    color: #c8c8c8;
    height: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
}
.foo-container .list li.active{
    color: #333;
}

/* 预定协议 */
.agreement-page{
    line-height: 1.5;
    padding: 0.267rem;
}

/* 弹出提示层 */
.layer-content{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0,0,0,.1);
}
.layer-block{
    height: 120px;
    line-height: 120px;
    text-align: center;
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 50%;
    margin-top: -60px;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
    background: #fff;
}






