@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0}
html{
   height:100%;
   width:100%
}
body{
	width:100%;
	height:100%;
	font-size:12px;
    font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif !important;
	overflow-x:hidden}
h1,h2,h3,h4,h5{
	font-size:14px}
table {
	border-collapse:collapse;
	border-spacing:0}
a{
	color:#464646;
	text-decoration:none}
a:hover{
	}
a,input,textarea{
	outline:none;
	resize:none;
    font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif !important;}
s,i,strong{
	text-decoration:none; font-style:normal; font-weight: normal}
.color_f60{
	color:#f60}	
.cor_666{
	color:#666}
.cor_f00{
	color: #f00;
}
.bg-15b{
    background:#15b000}
.bg-00c{
    background:#00c4d8}
.bg-ffb{
    background:#ffba00}
li{
	list-style:none}	
img{
	border:none}
.fl{
	float:left}
.fr{
	float:right}
.clear{
	clear:both}	
.center{
	text-align:center}	
.al{
	text-align:center}	
.auto{
	margin:0 auto}	
.pt-5{
	padding-top:5px}
.pl-5{
	padding-left:5px}
.pl-10{
	padding-left:10px}
.pl-30{
	padding-left:30px}
.mt-0{
	margin-top:0}
.mt-1{
	margin-top:1px}
.mt-2{
	margin-top:2px}
.mt-3{
	margin-top:3px !important;}
.mt-4{
	margin-top:4px}
.mt-5{
	margin-top:5px !important;}
.mt-7{
	margin-top:7px}
.mt-8{
	margin-top:8px}
.mt-9{
	margin-top:9px}
.mt-10{
    margin-top:10px}
.mt-20{
    margin-top:20px}
.mr-3{
	margin-right:3px}
.mr-5{
    margin-right:5px !important;}
.mr-10{
	margin-right:10px}
.mr-20{
	margin-right:20px}
.mr-30{
	margin-right:30px}
.ml-5{
	margin-left:5px !important;}
.ml-10{
	margin-left:10px}
.ml-20{
	margin-left:20px}
.ml-30{
	margin-left: 30px}
.ml-50{
    margin-left: 50px}
.mb-10{
	margin-bottom:10px}
.mb-20{
    margin-bottom:20px}

.wid_40{
    width:40px !important;}
.wid_60{
    width:60px !important;}
.wid_80{
    width:80px !important;}
.wid_90{
    width:90px !important;}
.wid_100{
    width:100px !important;}
.wid_150{
	width:150px !important;}
.wid_200{
    width:200px !important;}
.wid_300{
	width: 300px !important;
}
.wid_590{
    width:590px !important;}
.wid_460{
    width:460px !important;}
.wid_600{
    width:600px !important;}
.wid_650{
    width:650px !important;}
.wid_700{
    width:700px !important;}
.wid_half{
	width:50% !important;}

input::-webkit-input-placeholder {
    color: #c9c9c9 !important;
    font-size: 12px !important;
}
input:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 12px !important;
}
input::-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 12px !important;
}
input:-ms-input-placeholder {
    color: #c9c9c9 !important;
    font-size: 12px !important;
}

.gbl_tabs .x-tab-bar-strip{
	height:1px;
    background-color:#e1e9f6;
}
.x-content-box .gbl-tbar  .x-tab-bar-strip-default-horizontal{
	/*height:0px*/
}
.gbl-tbar .x-tab-default .x-tab-close-btn{
	top:9px;
	right:6px;
	background:url("../images/tab-bar-closed-icon.png") no-repeat 0 0;
	width:8px;
	height:8px}
.gbl-tbar .x-active .x-tab-close-btn{
	background:url("../images/tab-bar-closed-icon.png") no-repeat 0 -9px;}
.gbl-tbar .x-tab-default-top{
    line-height: 26px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 2px;
}
.x-tab-bar-body-default-top{
    padding-bottom: 0 !important;
}
.gbl-tbar .x-tab-default .x-tab-close-btn-over{
	background-position:0 -9px}
.gbl-tbar .x-active .x-tab-close-btn-over{
	background-position:0 -9px;}
.gbl-tbar .x-tab:active .x-tab-close-btn-over{
    background-position:0 -9px;
}
.gbl-tbar .x-tab-default-active .x-tab-inner{
	color:#333;
	font-weight:100;
	}
.gbl-tbar .x-tab-default .x-tab-inner{
    color:#333;
	font-weight:100;
	font-family:"微软雅黑";
    font-size: 12px}
.gbl-tbar .x-tab-default-top{
	background-color:#f1f3fa;
	height:26px;
	font-weight:100}
.gbl-tbar .x-tab-default-top .x-frame-mc{
	background-color: white;}
.gbl-tbar .x-tab-default-active{
	background-color:#43AEE4}
.gbl-tbar .x-tab-default-top-active .x-frame-mc
{
    background-color:#008ED8;
}
.gbl-tbar .x-tab-default-active .x-frame-mr,.gbl-tbar .x-tab-default-top .x-frame-mr{
    background-image:none;
}
.gbl-tbar .x-tab-default-active .x-frame-tc,.gbl-tbar .x-tab-default-top .x-frame-tc{
    background-image:none;
}
.gbl-tbar .x-tab-default-active .x-frame-tr,.gbl-tbar .x-tab-default-top .x-frame-tr{
    background-image: none;
}
.gbl-tbar .x-tab-default-active .x-frame-tl,.gbl-tbar .x-tab-default-top .x-frame-tl{
    background-image: none;
}

.gbl-tbar .x-tab-default-active .x-frame-ml,.gbl-tbar .x-tab-default-top .x-frame-ml{
    background-image:none;
}
.gbl-tbar .x-tab-default-top-active{
	background-color:white;
	height:26px;
	font-weight:100}
.gbl-tbar .x-tab-default-top-active .x-frame-mr{
    background-image:none;
}
.gbl-tbar .x-tab-default-top-active td{
	/*background-color:white;*/}
.gbl-tbar .x-tab-default-active{
	background-color:#2196F3;

}
.gbl-tbar .x-tab{
  /*  margin-bottom: 3px;*/
}
.gbl-tbar .x-tab-default-top-active .x-tab-inner{
	color:#fff;
	font-size: 12px}
.gbl_tabs .x-panel-body-default{
	border-width:0}
.x-tab-bar-default .x-tabbar-scroll-left,
.x-tab-bar-default .x-tabbar-scroll-right{
    width: 13px;
    height: 26px;
    margin-top: 5px;
}
.x-tab-bar-default .x-tabbar-scroll-left{
    background: url("../images/default-scroll-left.png");
}
.x-tab-bar-default .x-tabbar-scroll-right{
    background: url("../images/default-scroll-right.png");
}

.x-menu-item-link{
    padding-left: 5px;
}

.home-fixed-btn{
    display: block;
    width: 26px;
    height: 26px;
    position: fixed;
    top: 55px;
    left: 15px;
    z-index: 9999;
    background: url("../images/home-icon.png") center no-repeat;
}

.top-page{
	float:left;
	width:100%;
	min-width:1024px;
  height:40px;
	position:relative;
	background:#43AEE4}
.logo{
	float:left;
	padding-left:10px}
.top-operate{
	float:right;
	height:40px;
	margin:10px 10px 0 0}
.top-operate ul li{
	float:left;
	width:60px;
	height:40px;
	position:relative}
.top-operate ul li a{
	float:left;
	color:#fff;
	width:60px;
	height:40px;
    font-family:"微软雅黑";
	padding-top:10px;
	text-align:center;
	overflow:hidden;
	box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;}
.top-operate ul li a:hover{
	text-decoration:none;
	background:url(../images/index-box-bg.png) left top repeat}
.new-won{
	float:left;
	width:100%;
	height:30px;
	position:absolute;
	left:0;
	bottom:-1px;
	font-family:"微软雅黑"}
.home-tab{
	float:left;
	width:110px;
	margin:0 2px 0 10px;
	background:url(../images/tab_ico.png) no-repeat 0 0}
.home-tab a{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	padding:0 0 0 10px;
	background:url(../images/tab_ico.png) no-repeat right -30px}
.home-tab a s{
	float:right;
	width:5px;
	height:30px;
	padding-right:5px;}
.more-tab{
	float:left;}
.more-tab li{
	float:left;
	height:30px;
	margin-right:2px;
	position:relative;
	background:url(../images/tab_ico.png) no-repeat 0 -60px}
.more-tab li s{
	float:right;
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	right:5px;
	top:10px;
	background:url(../images/close.png) left no-repeat}
.more-tab li a{
	float:left;
	color:#fff;
	height:30px;
	line-height:30px;
	padding:0 20px 0 10px;
	background:url(../images/tab_ico.png) no-repeat right -90px}
.more-tab li a:hover{
	color:#fff;
	text-decoration:none;}
.more-tab li.active{
	background:url(../images/tab_ico.png) no-repeat 0 0}
.more-tab li.active a{
	color:#333;
	background:url(../images/tab_ico.png) no-repeat right -30px}
.more-tab li.active s{
	background:url(../images/closed.png) left no-repeat}

/*全局按钮*/
.default-btn{
	float:left;
	height:26px;
	line-height:26px;
	border:0}
/*全局文本框*/
.set-text{
	float:left;
	width:50%;
	height:30px;
	line-height:30px;
	padding-left:5px;
	border:1px solid #dcdcdc}
.set-text-xh{
	float:left;
	height:24px;
	line-height:24px;
	padding-left:5px;
	border:1px solid #dcdcdc}
.set-text-bz1{
	width:250px;}	
.set-text-bz2{
	width:100px;}	
.set-text-bz3{
	width:500px;}	
.text_60{
	width:60px}
.text_100{
	width:100px}
.text_150{
	width:150px}
.text_177{
	width:177px}
.text_200{
	width:200px}
.text_222{
	width:222px}
.text_250{
	width:250px}
.text_300{
	width:300px}
.text_400{
	width:400px}
.text_630{
	width:630px}	
.text_700{
	width:700px}
.set-area{
	float:left;
	width:50%;
	height:100px;
	line-height:20px;
	padding:5px;
	border:1px solid #dcdcdc}
.text-area{
	float:left;
	height:100px;
	line-height:18px;
	padding:5px;
	border:1px solid #dcdcdc}	
/*全局保存、取消按钮*/
.opn-btn{
	float:left;
	width:100%;
	padding:20px 0}
.opn-btn a{
	float:left;
	color:#fff;
	padding:0 15px;
	height:24px;
	line-height:24px;
	margin:0 20px 0 20px}
.opn-btn a:hover{
	text-decoration:none}
.opn-btn a.save{
	background:#008ed8;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;}
.opn-btn a.save:hover{
	background:#0097e6}
.opn-btn a.cancel{
	background:#aaa}
.opn-btn a.cancel:hover{
	background:#b5b5b5}
/*全局帮助图标*/
.help-ico{
	float:left;
	width:12px;
	height:12px;
	cursor:pointer}

/*table布局的样式   */
.content-tab{
  width:100%;
  height:100%;
  table-layout:fixed;
}
.content-rt-td{
	background-color:white;
	overflow-x:hidden;
}
.content-lt-td{
	background-color:#F8F8F8;
}

/*grid表样式  */
.dest-status-ok{
 background-image: url(../images/show-ico.png);
 background-repeat:no-repeat;
 margin: auto;
}
.dest-status-none
{
  background-image: url(../images/close-s.png);
  background-repeat:no-repeat;
  margin: auto;
}

.dest-al-mid div
{
	/*display:inline;*/
}
.dest-al-mid
{
	text-align:center;
}
/*uploadify样式 */
.uploadify-button {
	background-color: transparent;
	border: none;
	padding: 0;
	border-radius: 0px 0px 0px 0px;  /*//注意这个地方*/
	height:22px;
}
.uploadify:hover .uploadify-button {
	background-color: transparent;
	border: none;
	padding: 0;
}


/*图片上传table框*/
.pictab{
  width:120px;
  float:left;
  margin-top:4px;
  margin-right:3px;
}

.pictab td{
 text-align:center;
}

.pictab input{
 width:115px;
}
.tc{
    text-align: center;
}

/*弹出框*/
.outbox-gather{
    float:left;
    margin:100px 0 0 250px;
    border:3px solid #008ed8}
.outbox-tit{
    float:left;
    color:#fff;
    height:28px;
    line-height:28px;
    padding-left:10px;
    position:relative;
    background:#008ed8}
.outbox-tit s{
    position:absolute;
    right:0;
    top:0;
    display:block;
    width:28px;
    height:28px;
    cursor:pointer}
.out-box-con{
    float:left;
    width:100%;
}
.out-box-con .list_dl{
    float:left;
    width:100%}
.out-box-con .list_dl dt{
    float:left;
    height:35px;
    line-height:35px;
    text-align:right}
.out-box-con .list_dl dd{
    float:left;
    height:35px;
    line-height:35px;}
.out-box-con .list_dl dd .default-btn{
    color:#fff;
    margin-top:9px;
    text-align:center;
    background:#008ed8}
.out-box-con .up-file-div{
    float:left;
    width:80px;
    height:30px;
    position:relative}
.out-box-con .up-file-div input{
    width:80px;
    height:22px;
    position:absolute;
    left:0;
    top:0;
    z-index:99;
    opacity:0;
    filter:alpha(opacity=0)
    cursor:pointer}
.out-box-con .up-file-div .btn-file{
    color:#fff;
    width:75px;
    height:22px;
    line-height:22px;
    text-align:right;
    padding-right:5px;
    position:absolute;
    left:0;
    top:0;
    z-index:9;
    cursor:pointer;
    background:url(../images/base-ico.png) no-repeat 0 -249px}

/*短信*/
.box-830{
    float:left;
    width:830px;
    margin-top:10px;
    padding:15px 20px;
    border:1px solid #d7e4ea}
/*顶部*/
.top-operate .top-help-list{
    display:none;
    float:left;
    width:95px;
    padding:0 10px;
    top:40px;
    left:-30px;
    position:absolute;
    background:#fff;
    border:1px solid #d9d9d9;
    border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box}
.top-operate .top-help-list a{
    float:left;
    color:#828282;
    width:75px;
    height:30px;
    line-height:30px;
    padding-top:0;
    font-size:14px;
    font-family:"微软雅黑","黑体";
    text-align:right}
.top-operate .top-help-list a:hover{
    color:#f60;
    background:none}
.top-operate .top-help-list a.ico_1{
    background:url(../images/help-list01.png) left no-repeat}
.top-operate .top-help-list a.ico_2{
    background:url(../images/help-list02.png) left no-repeat}
.top-operate .top-help-list a.ico_3{
    background:url(../images/help-list03.png) left no-repeat}
.top-operate .top-help-list a.ico_4{
    border-top:1px solid #e5e5e5;
    background:url(../images/help-list04.png) left no-repeat}
.top-operate .top-help-list a.ico_5{
    background:url(../images/help-list05.png) left no-repeat}
.content-nrt{
	float:left;
	width:100%}

.found_box{
	width:55px;
	height:55px;
	position:fixed;
    z-index: 9999;
	left:80px;
	bottom:80px}
.found_box *{
    box-sizing:content-box !important;
    -webkit-box-sizing:content-box !important;
}
.foud_con_btn{
	float:left;
	width:55px;
	height:55px;
	position:absolute;
	z-index:999;
	cursor:pointer;}
.found_menu_box{
	display:none;
	width:132px;
	height:412px;
	position:absolute;
	left:25px;
	top:-380px;
	z-index:99;
	background:#008ed8;
	border:1px solid #017fc1;
	border-radius:5px}
.menu_tit{
	float:left;
	width:132px;
	height:21px;
	text-align:center;
	padding:12px 0}
.menu_list{
	float:left;
	width:132px;
	height:30px}
.menu_list h3{
	color:#fff;
	float:left;
	width:88px;
	height:30px;
	line-height:30px;
	cursor:pointer;
	padding:0 22px;
	font-size:14px;
	font-weight:500}
.menu_list h3.hover{
	width:89px;
	background:#149fe8}
.menu_list h3 img{
	float:left;
	width:16px;
	height:16px;
	margin-top:7px}
.menu_list h3 span{
	float:left;
	height:30px;
	line-height:30px;
	margin-left:10px}
.child{
	display:none;
	width:188px;
	height:344px;
	padding:15px;
	position:absolute;
	left:133px;
	bottom:0;
	background:#149fe8}
.child span{
	float:left;
	width:90px;
	height:30px}
.child span a{
	float:left;
	color:#fff;
	height:28px;
	line-height:28px;
	padding:0 10px;
	font-size:12px;
	text-decoration:none;
	border:1px solid #149fe8}
.child span a:hover{
	border:1px solid #30b0f3;
	border-radius:5px}


/*2015-06-30添加*/
.confirm-btn{
    background: #43AEE4;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    line-height: 25px;
    height: 25px;
    padding: 0px 15px;
    display: inline-block;
    color:white;
    cursor: pointer;
    text-decoration: none;
}

.confirm-btn:hover{
    background:#008ED8;
    color:#fff;
}
.confirm-btn:active{
    background: #F6B74D;
}
.cancel-btn{
    background:#D3D3D3;
    color:#fff;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    line-height: 25px;
    height: 25px;
    padding: 0px 15px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.cancel-btn:hover, .cancel-btn:active{
    background:#A1A1A1;
}


.set-select{
    height: 24px;
    line-height: 24px;
    float:left;
    border:1px solid #dcdcdc;
}
.clear-both{
    clear:both;
}
.menu-no-icon .x-menu-item-link{
    width:0px;
    padding: 0px 0px 0px 8px;
}
.x-panel .my-extjs-btn
{
    background-color:#43AEE4;
    background:#43AEE4;
    background-image: none;
}
.x-panel .my-extjs-btn{
    border-color: #43AEE4;
}
.x-panel .my-extjs-btn.x-btn-over{
    background-color:#008ED8;
    background-image: none;
}
.x-nbr  .my-extjs-btn{
    background-color:#43AEE4;
    background:#43AEE4;
    background-image: none;
}
.my-extjs-btn .x-btn-default-small{
    background-image: none;
}
.my-extjs-btn .x-btn-default-small-mr,.my-extjs-btn .x-btn-default-small-mc,.my-extjs-btn .x-btn-default-small-ml
{
    background-image:none;
    background-color:#43AEE4;
}
.my-extjs-btn .x-btn-default-small-tc,.my-extjs-btn .x-btn-default-small-tl,.my-extjs-btn .x-btn-default-small-tr
{
    background-image:none ;
    background-color: #43AEE4;
}
.my-extjs-btn .x-btn-default-small-bl,.my-extjs-btn .x-btn-default-small-bc,.my-extjs-btn .x-btn-default-small-br
{
    background-image:none ;
    background-color: #43AEE4;
}



.list-head-tb{
    height: 100%;
    width: 100%;
}
.list-head-tb .head-td-rt{

}
.list-head-tb .head-td-rt .add-btn-class{
    float:right;
    color:#fff;
    display:block;
    width:55px;
    height:25px;
    line-height:25px;
    text-align:center;
    padding-left:10px;
    border:0;
    cursor:pointer;
    background:url(../images/sp_btns.png) no-repeat 0px 0px
}
.list-head-tb .head-td-rt .add-btn-class:hover{
    background:url(../images/sp_btns.png) no-repeat -67px 0px
}
.list-head-tb .head-td-rt .add-btn-class:active{
    background:url(../images/sp_btns.png) no-repeat -134px 0px
}
.refresh-btn{
    float:right;
    color:#fff;
    display:block;
    width:55px;
    height:25px;
    line-height:25px;
    text-align:center;
    padding-left:10px;
    border:0;
    cursor:pointer;
    background:url(../images/sp_btns.png) no-repeat 0px -54px
}
 .refresh-btn:hover{
    background:url(../images/sp_btns.png) no-repeat -67px -54px
}
.refresh-btn:active {
    background:url(../images/sp_btns.png) no-repeat -134px -54px
}
.w-set-con .refresh-btn,.w-set-tit .refresh-btn{
    margin-top:9px;
    margin-right: 15px;
}

.list-head-tb .head-td-rt a{
    float:right;
    margin-right: 10px;
}
.list-head-tb .menu-shortcut{
    color:#42AFE5;
    border:1px solid #42AFE5;
    background:#fff;
    float:left;
    height:25px;
    line-height: 23px;
    margin-left:10px;
    padding:0px 10px;
}
.list-head-tb .menu-shortcut:hover {
    background: #42AFE5;
    color:white;
}
.pro-search .head-search-btn{
    float:left;
    margin-left:5px;
    height: 20px;
    width: 20px;
    line-height: 25px;
    background: url(../images/dest_btns.png) no-repeat -19px 0px;
    margin-top:5px;
}
.pro-search .head-search-btn:hover{
    background: url(../images/dest_btns.png) no-repeat -19px 0px;
}
.pro-search .head-search-btn:active{
    background: url(../images/dest_btns.png) no-repeat -39px 0px;
}
.mt-4{
    margin-top:4px;
}
.row-mod-btn{
    padding: 0px 8px 0px 8px;
    background: red;
    height:15px;
    line-height:15px;
    background: url(../images/column-btns.png) no-repeat 0px 0px;
}
.row-mod-btn:active{
    background: url(../images/column-btns.png) no-repeat -15px 0px;
}
.audit-btn,.audit-btn:active{
    background: url("../images/audit_ico.png") no-repeat;
}
.row-clone-btn{
    padding: 0px 8px 0px 8px;
    background: red;
    height:15px;
    line-height:15px;
    background: url("../images/column-copy-btn.png") no-repeat 0px 0px;
}
.audit-btn,.audit-btn:active{
	background: url(../images/audit_ico.png) no-repeat;
}
.normal-btn{
    background: #43AEE4;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    line-height: 25px;
    height: 25px;
    padding: 0px 15px;
    display: inline-block;
    color:white;
    cursor: pointer;
    text-decoration: none;
}
.normal-btn:hover{
    background:#008ED8;
    color:#fff;
}
.normal-btn:active{
    background: #F6B74D;
}
.row-edit-txt{
    line-height:25px;
    height:25px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left:5px;
    padding-right: 5px;
    border:1px solid #eeeeee;
    margin:auto;
}
.row-editable-sp{
    line-height: 25px;
    border:1px solid #eeeeee;
    padding:7px 10px;
    background: #fff;
}
.row-edit-txt:focus{
    border:1px solid #42AFE5;
}
.row-del-btn{
    padding: 0px 8px 0px 7px;
    background: red;
    height:15px;
    line-height:15px;
    background: url(../images/column-btns.png) no-repeat 0px -32px;
}
.row-del-btn:active{
    background: url(../images/column-btns.png) no-repeat -15px -32px;
}
.row-view-btn{
    padding: 0px 8px 0px 7px;
    height:15px;
    line-height: 15px;
    background: url(../images/column-btns.png) no-repeat 0px -66px;
}
.row-view-btn:active{
    background: url(../images/column-btns.png) no-repeat -17px -66px;
}

.row-add-suit-btn{
    color:#43AEE4;
    border:1px solid #43AEE4;
    font-family:'微软雅黑';
    background: white;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;
    line-height:15px;
    padding:1px 2px;
}
.row-show-btn{
    padding: 2px 8px 2px 7px;
    height:16px;
    line-height:16px;
    background: url(../images/column-btns.png) no-repeat 0px -49px;
}
.row-un-show-btn{
    padding: 2px 8px 2px 7px;
    height:16px;
    line-height:16px;
    background: url(../images/column-btns.png) no-repeat -15px -49px;
}
.row-edit-select{
    border:1px solid #eeeeee;
    line-height: 25px;
    height:25px;
    display: inline-block;
}
.row-edit-select:focus{
    border:1px solid #42AFE5;
}

.list-top-set{
    height:40px;
    background: #F1F9FF;
}
.list-top-set .list-web-pad{
    height:0px;
}
.list-top-set .list-web-ct{
    height:40px;
    vertical-align:central;
}
.add_menu-btn .add-btn-class{
    float:left;
}
.cfg-head-top{
    height:40px
}
.cfg-head-tb{
    width:100%;
    height:100%;
}
.cfg-head-tb .refresh-btn{
    margin-right: 15px;
}
.head-td-lt .pro-search{
    float:left;
    margin-left: 15px;
}
.choose-btn{
    float:left;
    color:#fff;
    display:inline-block;
    width:55px;
    height:25px;
    line-height:25px;
    text-align:center;
    padding-left:10px;
    border:0;
    cursor:pointer;
    background:url(../images/sp_btns.png) no-repeat 0px -27px
}
.choose-btn:hover{
    background:url(../images/sp_btns.png) no-repeat -67px -27px;
}
.choose-btn:active{
    background:url(../images/sp_btns.png) no-repeat -134px -27px;
}

.bar-select{
    border:0px;
    height:25px;
    line-height: 25px;
    display: inline-block;
    float:left;
}
.bar-select option{
    line-height:25px;
}
.pageContainer .pagePart .floor{
    float:left;
    padding: 0px 8px;
    height:24px;
    text-align: center;
    line-height: 24px;
    margin-right: 5px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
}
.pageContainer .pagePart .more{
    width: 24px;
}
.pageContainer .pagePart .short{
    float:left;
    height:24px;
    width:16px;
}

.pageContainer .pagePart .pageable{
    background: #fff;
    color:#333;
    border:1px solid  #008ED8;
}
.pageContainer .pagePart .pageable:hover{
    background: #008ED8;
    color:white;
    border:1px solid  #008ED8;
}

.pageContainer .pageHint{
    margin-left:8px;
}
.pageContainer .pageHint .totalPage{
    color:red;
    padding: 0px 2px;
}
.pageContainer .pageHint .totalCount{
    color:red;
    padding: 0px 2px;
}
.pageContainer .pagePart .more.floor{
    width:25px;
    line-height:18px;
    font-weight: 600;
}
.pageContainer .pagePart .prevPage{
    margin-right: 2px;
}
.pageContainer .pagePart span.prevPage{
    background:url(../images/column-btns.png) -5px -296px no-repeat;
}
.pageContainer .pagePart a.prevPage{
    background:url(../images/column-btns.png) -5px -188px no-repeat;
}
.pageContainer .pagePart a.prevPage:hover{
    background:url(../images/column-btns.png) -5px -81px no-repeat;
}

.pageContainer .pagePart span.firstPage{
    background:url(../images/column-btns.png) -5px -350px no-repeat;
}
.pageContainer .pagePart a.firstPage{
    background:url(../images/column-btns.png) -5px -242px no-repeat;
}
.pageContainer .pagePart a.firstPage:hover{
    background:url(../images/column-btns.png) -5px -135px no-repeat;
}

.pageContainer .pagePart span.nextPage{
    background:url(../images/column-btns.png) -5px -323px no-repeat;
}
.pageContainer .pagePart a.nextPage
{
    background:url(../images/column-btns.png) -5px -215px no-repeat;
}
.pageContainer .pagePart a.nextPage:hover
{
    background:url(../images/column-btns.png) -5px -108px no-repeat;
}
.pageContainer .pagePart span.lastPage{
    background:url(../images/column-btns.png) -5px -378px no-repeat;
}
.pageContainer .pagePart a.lastPage
{
    background:url(../images/column-btns.png) -5px -269px no-repeat;
}
.pageContainer .pagePart a.lastPage:hover
{
    background:url(../images/column-btns.png) -5px -161px no-repeat;
}

.pageContainer .pagePart .current{
    background: #F7B84F;
    color:#fff;
    border:1px solid  #F7B84F;

}
.pageContainer .pageHint{
    line-height: 25px;
}
.pageContainer{
    float:right;
}
.x-tree-lines .x-tree-expander-over .x-tree-elbow-plus{
    background-image: url(../images/elbow-plus-over.png);
}
.x-tree-lines .x-grid-tree-node-expanded .x-tree-expander-over .x-tree-elbow-plus{
    background-image: url(../images/elbow-minus-over.png);
}

/* 新增通用 */
.txt-center{
    text-align: center;
}
.clearfix:before,
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.default-text{
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    outline: none;
    border: 1px solid #dedfe3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    background: #fff;
}
.default-textarea{
    width: 50%;
    height: 100px;
    line-height: 30px;
    padding: 0 5px;
    outline: none;
    border: 1px solid #dedfe3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    background: #fff;
}
.drop-down{
    width: 150px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #dedfe3;
    outline: none;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    background: #fff;
}
.radio-label{
    color: #333;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 13px;
}
.radio-label input{
    vertical-align: middle;
    margin: -2px 3px 0 0;
    cursor: pointer;
}
/* 列表类 */
.st-item-block{
    padding: 15px 0;
}
.st-item-block > ul > li{
    padding: 5px 0;
}
.st-item-block .item-bt{
    float: left;
    color: #006498;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-weight: normal;
}
.st-item-block .item-nr{
    min-height: 30px;
    padding-left: 105px;
}
/* 修改优惠券 */
.st-table-content{

}
.st-table-block{
    width: 100%;
}
.st-table-block thead tr{
    background: #008ed8;
}
.st-table-block thead tr th{
    color: #fff;
    height: 34px;
    text-align: left;
    border-left: 1px solid #109fe9;
}
.st-table-block thead .st-hd{
    display: block;
    font-weight: normal;
}
.st-table-block tbody tr{
    height: 35px;
    border-bottom: 1px solid #d7dddb;
    background: #fff;
}
.st-table-block tbody tr:hover{
    background: #f0f9ff;
}
.st-table-block .st-num,
.st-table-block .st-type,
.st-table-block .st-name{
    display: block;
    padding-left: 10px;
}
.st-delete-btn{
    display: inline-block;
    width: 13px;
    height: 14px;
    vertical-align: middle;
    margin-top: -2px;
    background: url("../images/column-btns.png") no-repeat 0 -33px;
}
.st-delete-btn:active{
    background: url("../images/column-btns.png") no-repeat -17px -33px;
}

/* 翻页、按钮 */
.btn-block{
    padding: 10px;
}
.btn-block:before,
.btn-block:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.st-btn{
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #43aee4;
}
.st-add-btn{
    display: inline-block;
    color: #fff;
    width: 52px;
    height: 25px;
    line-height: 25px;
    padding-left: 13px;
    text-align: center;
    vertical-align: middle;
    margin-top: -3px;
    background: url("../images/sp_btns.png") no-repeat 0 0;
}
.st-add-btn:hover{
    background: url("../images/sp_btns.png") no-repeat -67px 0;
}
.st-add-btn:active{
    background: url("../images/sp_btns.png") no-repeat -134px 0;
}
/*分页代码样式*/
.pm-btm-box{
    padding: 15px 0 0;
}
.pm-btm-box:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.pm-btm-msg{
    float:right;}
.pm-btm-msg .pm-fy-page{
    float:left}
.pm-btm-msg .pm-fy-page .main_mod_page{
    padding:0}
.pm-btm-msg .page-text{
    float:left;
    height:24px;
    line-height:24px}
.pm-btm-msg .show-num{
    float:left;
    height:24px;
    line-height:24px}
.pm-btm-msg .show-num select{
    width:50px;
    height:24px;
    line-height:24px;
    vertical-align: middle;
    margin-top: -3px;
    border:1px solid #dcdcdc}
.main_mod_page{
    width:100%;
    padding:20px 0;
    overflow:hidden}
.main_mod_page p.page_right{
    width:100%;
    height:24px;
    text-align:center}
.main_mod_page .back-first,
.main_mod_page .go-last,
.main_mod_page .prev,
.main_mod_page .next{
    display:inline-block;
    *zoom:1;
    *display:inline;
    width:24px;
    height:24px;
    font-size:14px;
    vertical-align:top}
.main_mod_page .back-first{
    width:11px;
    background:url(../images/page_home_bg.png) center no-repeat}
.main_mod_page .back-first:hover{
    background:url(../images/page_home_bg_hover.png) center no-repeat}
.main_mod_page .go-last{
    width:11px;
    background:url(../images/page_last_bg.png) center no-repeat}
.main_mod_page .go-last:hover{
    background:url(../images/page_last_bg_hover.png) center no-repeat}
.main_mod_page .prev{
    background:url(../images/page_prev_bg.png) center no-repeat}
.main_mod_page .prev:hover{
    background:url(../images/page_prev_bg_hover.png) center no-repeat}
.main_mod_page .next{
    background:url(../images/page_next_bg.png) center no-repeat}
.main_mod_page .next:hover{
    background:url(../images/page_next_bg_hover.png) center no-repeat}
.main_mod_page .mod_pagenav_count{
    display:inline-block;
    height:24px;
    vertical-align:top}
.main_mod_page .mod_pagenav_count a{
    display:inline-block;
    *zoom:1;
    *display:inline;
    color:#858585;
    width:22px;
    height:22px;
    line-height:22px;
    font-size:14px;
    text-align:center;
    margin:0 1px 0;
    border:1px solid #008ed8;
    border-radius:3px}
.main_mod_page .mod_pagenav_count a.current,
.main_mod_page .mod_pagenav_count a:hover{
    color:#fff;
    border:1px solid #f7b84f;
    background:#f7b84f}
.pm-btm-msg .color-red{
    color: #f00;
}
/* 星号注释 */
.star-note-ico{
    color: #f60;
    display: inline-block;
    vertical-align: middle;
}

.sort-col .x-column-header-text{
    padding-right: 17px;
    background-position: right center;
    background-repeat: no-repeat;
    background-image:url(../images/sort_both.png);
}
.sort-col.x-column-header-sort-DESC .x-column-header-text{
    background-image:url(../images/sort_desc.png);
}
.sort-col.x-column-header-sort-ASC .x-column-header-text{
    background-image:url(../images/sort_asc.png);
}
input.error,select.error,textarea.error{
    border:1px solid red;
}
/* 分割布局 */
.st-info-container{
    display: block;
    border-top: 1px solid #d7e4ea;
}
.st-info-bar{
    height: 30px;
    background: #f1f9ff;
}
.st-info-bar .bt-bar{
    display: inline-block;
    color: #8fc0d6;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 13px;
}
.st-info-block{
    padding: 10px 0;
}
.st-info-block > ul > li{
    padding: 4px 0;
}
.st-info-block > ul > li:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.st-info-block .item-hd{
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.st-info-block .item-bd{
    min-height: 30px;
    padding: 0 20px 0 105px;
}

/* 日期选择 */
.choose-start-date{
    display: inline-block;
    width: 200px;
    height: 30px;
    position: relative;
}
.choose-start-date .date-text{
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    outline: none;
    border: 1px solid #dedfe3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
	position: relative;
	z-index: 10;
	background: transparent;

}
.choose-start-date .date-icon{
    display: inline-block;
    width: 16px;
    height: 13px;
    position: absolute;
    right: 7px;
    top: 8px;
	z-index: 9;
    background: url("../images/choose-start-date-icon.gif") center no-repeat;
}

.search-item-bar{
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    position: relative;
    border: 1px solid #dcdcdc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-item-bar .search-text{
    display: block;
    width: 100%;
    height:100%;
    border: 0;
}
.search-item-bar .search-btn{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: url("../images/dest_btns.png") no-repeat 0 0;
}

/* 底部按钮栏 */
.st-btn-block{
    padding: 10px 0;
    background: #f1f9ff;
}

.row-shelf-btn{
    padding: 0px 8px 0px 8px;
    background: red;
    height:15px;
    line-height:15px;
    background: url(../images/on_shelf.png) no-repeat 0px 0px;
}
.row-shelf-btn:active{
    background: url(../images/on_shelf_down.png) no-repeat 0px 0px;
}

.row-un-shelf-btn{
    padding: 0px 8px 0px 8px;
    background: red;
    height:15px;
    line-height:15px;
    background: url(../images/un_shelf.png) no-repeat 0px 0px;
}
.row-un-shelf-btn:active{
    background: url(../images/un_shelf_down.png) no-repeat 0 0;
}

.row-check-btn{
    padding: 0px 8px 0px 8px;
    background: red;
    height:15px;
    line-height:15px;
    background: url(../images/check.png) no-repeat 0 0;
}
.row-check-btn:active{
    background: url(../images/check_down.png) no-repeat 0 0;
}


/* 美化滚动条 */
.x-fit-item::-webkit-scrollbar,
*::-webkit-scrollbar{
	width: 5px;
	height: 5px
}

.x-fit-item::-webkit-scrollbar-button,
*::-webkit-scrollbar-button{
	height: 0;
	background: #fff
}

.x-fit-item::-webkit-scrollbar-track,
*::-webkit-scrollbar-track{
	height: 0;
	background: #dbe1e8
}

.x-fit-item::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb{
	background: #bbb
}

/* 底部操作导航 */
.st-bottom-console-bar{
    padding: 5px 20px;
    background: #f5f6fa;
}
.console-btn-container{
    font-size: 0;
}


/* 重置样式 */
.x-toolbar-default{
	background: #f5f5fa !important;
}
.x-toolbar-default .x-panel-body-default{
	border-color: transparent !important;
	background: transparent !important;
}

.up-img-area{
	max-height: 100px;
}

.pop-info-block .item-hd{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 65px;
}
.pop-info-block .item-bd{
    padding-left: 65px;
}


















/* 7.1新头部 */

/* logo */
.header-wrapper{
    height: 50px;
    padding: 0 18px;
    background: #2196F3;
}
.header-logo{
    float: left;
    width: 267px;
    height: 50px;
}
.header-logo .lg-area{
    display: table-cell;
    width: 267px;
    height: 50px;
    vertical-align: middle;
}
.header-logo .lg-area img{
    max-width: 267px;
    max-height: 40px;
    vertical-align: middle;
}

/* 全局搜索 */
.header-search-box{
    float: left;
    width: 260px;
    height: 24px;
    padding: 0 40px 0 13px;
    margin: 13px 0 0 35px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
.header-search-box .search-text{
    color: #333;
    width: 100%;
    height: 24px;
    font-size: 12px;
    border: 0;
    background: transparent;
}

.header-search-box .search-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    right: 13px;
    cursor: pointer;
    background: url("../images/cms-hb-icon.png") no-repeat 0 -71px;
}
.header-search-box .search-btn:hover{
    background: url("../images/cms-hb-icon.png") no-repeat -26px -71px;
}

.header-search-box .search-text::-webkit-input-placeholder {
    color: #ccc !important;
}
.header-search-box .search-text:-moz-placeholder {
    color: #ccc !important;
}
.header-search-box .search-text::-moz-placeholder {
    color: #ccc !important;
}
.header-search-box .search-text:-ms-input-placeholder {
    color: #ccc !important;
}

/* 操作菜单 */
.header-menu{
    float: right;
    height: 50px;
    padding: 11px 0;
    font-size: 0;
}
.header-menu .item{
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 4px;
    margin: 0 5px;
    vertical-align: top;
    font-size: 12px;
}
.header-menu .item img{
    width: 28px;
    height: 28px;
    vertical-align: top;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.header-menu .admin-name{
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-menu .item:hover{
    color: #d1ecff;
}

/* 退出登录 */
.header-out{
    float: right;
    height: 20px;
    padding: 2px 0 2px 18px;
    margin: 15px 0 0 18px;
    border-left: 1px solid #d1ecff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header-out .out-btn-link{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/cms-hb-icon.png") no-repeat 0 -45px;
}
.header-out .out-btn-link:hover{
    background: url("../images/cms-hb-icon.png") no-repeat -26px -45px;
}


.pop-refund-back{

}
.pop-refund-back .hd-item{
    float: left;
    width: 40px;
    height: 30px;
    line-height: 30px;
}
.pop-refund-back .bd-area{
    width: 400px;
    height: 100px;
    padding: 5px;
    vertical-align: top;
    border: 1px solid #dedfe3;
}
.hide{
	display:none !important;
}






/* 预览 */
.pop-preview-box{
    width: 490px;
    position: fixed;
    background: #fff;
    z-index: 99999999
}
.pc-preview-wrap{
    width: 50%;
    padding-right: 30px;
    border-right: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pc-preview-wrap .tit,
.wap-preview-wrap .tit{
    color: #333;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight:normal;
}
.pc-preview-wrap .txt,
.wap-preview-wrap .txt{
    color: #666;
    height: 24px;
    line-height: 24px;
}
.pc-preview-wrap .link{
    color: #3285ff;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-top: 8px;
    background: #f1f9ff;
}
.pc-preview-wrap .now-btn{
    color: #666;
    display: inline-block;
    height: 24px;
    line-height: 1.8;
    padding: 0 9px;
    margin-top: 10px;
    border: 1px solid #e9e9e9;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pc-preview-wrap .now-btn:hover{
    color: #3285ff;
    border: 1px solid #3285ff;
}


.wap-preview-wrap{
    width: 50%;
    padding-left: 30px;
    margin-left: -1px;
    border-left: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wap-preview-wrap .qr-code{
    width: 138px;
    height: 138px;
    padding: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f1f9ff;
}
.wap-preview-wrap .qr-code img{
    width: 100%;
    height: 100%;
}


.confirm-btn-bar{
    margin-top: 30px;
    text-align: center;
}
.confirm-btn-bar .qd-btn{
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #3285ff;
}
.confirm-btn-bar .qd-btn:hover{
    background: #2c74de;
}


/* 广告管理 */
.example-image-block{
    display: block;
    width: 75px;
    height: 50px;
    margin: 5px auto;
}
.example-image-link{
    display: table-cell;
    width: 75px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    background: #e7e7e7;
}
.example-image-link img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}






/* 选择标签 */
.choose-child-item{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	vertical-align: middle;
	background: #f1f1f1;
}
.choose-child-item:hover{
	background: #ebf0f6;
}
.choose-child-item .icon-Close{
	display: inline-block;
	width: 8px;
	height: 8px;
	cursor: pointer;
	vertical-align: middle;
	margin: -3px 0 0 5px;
	opacity: .6;
	background: url("../images/tab-bar-closed-icon.png") no-repeat 0 0;
}
.choose-child-item:hover .icon-Close{
	opacity: 1;
}


.dest-sel{
	display: inline-block;
}
.dest-sel .choose-child-item{margin-right: 10px;}

.x-column-header-inner{
    height: 36px;
	padding: 10px;
}

.x-grid-cell{
    border-color: #e1e6eb
}
.x-grid-row-focused .x-grid-td{
    border-bottom-color: #e1e6eb
}

.x-column-header{
    color: #666;
    border-right: 1px solid #eaedf1;
    background: #eaedf1;
}


/* 框架顶部栏 */
.cfg-header-bar{
    height: 40px;
    background: #f1f9ff;
}
.cfg-header-tab{
    display: inline-block;
}
.cfg-header-tab .item{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}
.cfg-header-tab .item.on{
    height: 39px;
    border-bottom: 1px solid #008ed8;
}
.cfg-header-tab .item.on:after{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #008ed8;
    border-left: 4px solid transparent;
}
.cfg-select-box{
    float: left;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid #dedfe3;
    background: #fff;
}
.cfg-select-box .arrow-icon{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin: -2px 0 0 8px;
    border-top: 4px solid #333;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.cfg-header-search{
    float: left;
    display: inline-block;
    height: 30px;
    margin: 5px 0 0 10px;
}
.cfg-header-search .search-text{
    float: left;
    width: 200px;
    height: 28px;
    padding: 0 5px;
    vertical-align: top;
    border: 1px solid #dedfe3;
}
.cfg-header-search .search-btn{
    float: left;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin-left: 10px;
    border: 1px solid #dedfe3;
    background: #f7f7f7;
}

.cfg-search-bar{
	height: 36px;
    background: #fff;
}
.cfg-search-bar .cfg-header-search{
    margin-top: 3px;
}

.cfg-search-tab{
    height: 36px;
    font-size: 0;
}
.cfg-search-tab .item{
    color: #666;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 12px;
}
.cfg-search-tab .item.on{
    color: #333;
    background: #eaedf1;
}

.cfg-header-order-info{
    float: left;
	height: 40px;
    font-size: 0;
}
.cfg-header-order-info .item{
    color: #666;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    font-size: 12px;
}









