.item-one .i-tpl, .pic-sel li {
    float: left;
    position: relative
}

.content-in table tr {
    height: 40px
}

.save-con {
    text-align: center;
    padding: 15px 0
}

/*.item-one {
    padding: 10px 0
}*/

.nav .w-set-tit {
    background: #fff
}

.item-one .un-blank {
    color: red;
    line-height: 26px;
    padding: 0 3px;
    float: left
}

.item-one label.error {
    color: red;
    line-height: 28px;
    float: left;
    padding: 0 3px
}

.item-one input.error {
    border: 1px solid red
}

.item-one table td {
    line-height: 40px
}

.item-one table td.u-editor {
    line-height: 16px
}

.item-one .des {
    border: 1px solid #dcdcdc;
    width: 300px;
    height: 100px;
    margin-top: 10px;
    padding: 5px
}

.item-one .i-tpl {
    height: 26px;
    line-height: 26px;
    margin-top: 1px;
    padding: 0 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    cursor: pointer
}

.item-one .i-tpl.on {
    background: url(../images/temp-chg-ico.png) right bottom no-repeat;
    border: 1px solid #008ED8
}

.item-one .i-tpl:hover {
    color: #000
}

.item-one .pic-td {
    padding: 10px 0
}

.item-one table .tit {
    text-align: right;
    padding-right: 10px
}

.pic-sel li {
    width: 100px;
    height: 130px;
    margin: 10px 10px 0 0;
    border: 1px solid #dcdcdc
}

.pic-sel li .p1, .pic-sel li .p2 {
    width: 100px;
    height: 30px;
    float: left
}

.pic-sel li:hover .p2 span {
    display: block
}

.pic-sel li .p1 {
    color: #006498;
    line-height: 30px;
    text-align: center
}

.pic-sel .p2 span {
    display: none
}

.pic-sel li .p2 {
    position: absolute;
    top: 0;
    left: 0
}

.pic-sel .p2 .btn-ste {
    float: left;
    color: #fff;
    width: 75px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    background: #008ed8
}

.pic-sel .p2 .btn-closed {
    float: right;
    color: #fff;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../images/btn-ico.png) 4px -56px no-repeat #008ed8
}