.pirate-warn{

}
.ico-con{
  padding:15px;
}
.pirate-warn .ico{
	width: 59px;
	height: 52px;
	margin: 15px auto;
	background: url(../images/wran-ico.png) no-repeat;
}
.pirate-warn p{
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}
.pirate-warn p.key{
	color: #ff0000;
}
.pirate-warn .go{
	display: block;
	margin: 0 auto;
	width: 122px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #ff0000;
	color: #fff;
	font-size: 14px;
	margin-top: 60px;
}
.pirate-warn .go:hover{
	opacity: 0.9;
}
.layui-layer-setwin a{
	display: none !important; 
}
/**/
.bomb-box{
	width: 548px;
	border: 1px solid #a1cfe6;
	position: relative;
	box-shadow: 0 0 3px #a1cfe6;
}
.bomb-box:before{
	content: "";
	position: absolute;
	left: 28px;
	top: -5px;
	width: 9px;
	height: 5px;
	background: url(../images/box-tag-ico.png) no-repeat;
}
.bomb-box-txt{
	padding: 15px;
	color: #666666;
	line-height: 20px;
	max-height: 343px;
	overflow: auto;
}
.bomb-box-txt a{
	color: #008ed8;
}
/* 滚动条美化 */
.bomb-box-txt::-webkit-scrollbar{
    width: 5px;
}

.bomb-box-txt::-webkit-scrollbar-button{
    height: 0;
    background: #ddd
}

.bomb-box-txt::-webkit-scrollbar-track{
    background: #ddd
}

.bomb-box-txt::-webkit-scrollbar-thumb{
    background: #a5a5a5;
    border-radius: 5px
}

.help-content-txt{
	color: #666;
	line-height: 22px;
}
.help-content-txt a{
	color: #006498
}
.help-content-txt a:hover{
	color: #0086cc;
	text-decoration: underline;
}
.help-content-txt *{
	max-width: 100%
}