.panel_bar .abtn {
    -ms-border-radius: 3px
}

.panel_bar a:hover {
    text-decoration: underline
}

.df-add-btn, .x-body a:hover {
    text-decoration: none
}

.dest-tip .x-tip-body-default {
    color: #008ed8;
    font-size: 12px
}

.search-bar {
    height: 33px;
    background: #DCE4EA;
    line-height: 33px
}

.search-bar .display-mod {
    float: right
}

.search-bar .display-mod span a {
    float: left;
    width: 66px;
    height: 33px;
    margin-right: 1px;
    font-size: 0;
    background: url(../images/list-sel-btn.png) no-repeat
}

.search-bar .display-mod span.list-1 a {
    background-position: -66px 0
}

.search-bar .display-mod span.list-2 a {
    background-position: -66px -33px
}

.search-bar .display-mod span.list-3 a {
    background-position: -66px -66px
}

.search-bar .display-mod span.list-1 a.on {
    background-position: 0 0
}

.search-bar .display-mod span.list-2 a.on {
    background-position: 0 -33px
}

.search-bar .display-mod span.list-3 a.on {
    background-position: 0 -66px
}

.search-bar .display-mdd {
    float: right;
    margin-right: 10px
}

.search-bar .display-mdd a {
    float: left;
    color: #666;
    height: 26px;
    line-height: 26px;
    margin-top: 4px;
    padding: 0 10px
}

.search-bar .display-mdd a.on {
    color: #008ed8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #fff
}

.suit-title {
    color: #333
}

.line-title, .product-title {
    color: #333
}

.row-hidden {
    display: none
}

.suit-cell {
    color: #396769
}

.parent-line-tr .x-grid-cell, .parent-product-tr .x-grid-cell, .suit-tr .x-grid-cell {
    border-color: #fafafa
}

.parent-line-tr .line-ch, .parent-line-tr .line-order, .parent-line-tr .product-order, .parent-product-tr .line-ch, .parent-product-tr .line-order, .parent-product-tr .product-order, .suit-tr .line-ch, .suit-tr .line-order, .suit-tr .product-order {
    border-bottom: 0
}

.attr-search-cs tr, .splace-search-cs tr {
    height: 30px;
    line-height: 30px;
    color: #C2DBEC;
    font-size: 12px
}

.attr-search-cs sp-name, .splace-search-cs sp-name {
    float: left;
    margin-right: 5px
}

.attr-search-cs span a, .splace-search-cs span a {
    color: #C2DBEC;
    padding: 4px
}

.attr-search-cs span a:hover, .splace-search-cs span a:hover {
    background: #036
}

.attr-search-cs span a.active, .splace-search-cs span a.active {
    background-color: #eee;
    color: #000
}

.dest-cs-dlg {
    line-height: 30px;
    color: #C2DBEC;
    font-size: 12px
}

.dest-cs-dlg .sp-name {
    margin-right: 8px
}

.dest-cs-dlg button {
    padding: 2px 4px;
    color: #296B9B;
    font-size: 12px;
    cursor: pointer
}

.dest-cs-dlg span a {
    color: #C2DBEC;
    padding: 4px
}

.dest-cs-dlg span a:hover {
    background: #036
}

.dest-cs-dlg span a.active {
    background-color: #eee;
    color: #000
}

.dest-cs-dlg .step_list {
    padding-left: 20px;
    border-top: 1px solid #aaa;
    margin-top: 5px
}

.search-title {
    margin-left: 20px
}

.search-title button {
    padding: 1px 4px;
    cursor: pointer
}

.search-title input {
    border: 1px solid #edf6fa;
    line-height: 18px
}

.parent-product-tr .product-ch, .suit-tr .product-ch {
    border-bottom: 0
}

.kind-search-cs span a {
    color: #C2DBEC;
    padding: 2px 4px
}

.kind-search-cs span a:hover {
    background: #036
}

.kind-search-cs span a.active {
    background-color: #eee;
    color: #000
}

.list-top-set {
    height: 40px;
    background: #F1F9FF
}

.list-top-set .list-web-pad {
    height: 0
}

.list-top-set .list-web-ct {
    height: 40px;
    vertical-align: central
}

.list-top-set .list-web-ct-lt {
    width: 50%
}

.list-top-set .list-web-ct-rt {
    text-align: right;
    width: 48%
}

.list-top-set .list-web-ct-lt, .list-top-set .list-web-ct-rt {
    float: left;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 10px
}

.dest-add-btn {
    padding: 1px 8px;
    cursor: pointer;
    color: #008ED8
}

.df-add-btn, .panel_bar .abtn {
    color: #fff;
    line-height: 24px;
    height: 24px
}

.df-add-btn {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .2);
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border: 1px solid #007998;
    padding: 0 12px;
    margin: 0;
    text-align: center;
    background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #43aee4), color-stop(100%, #008ed8));
    background: -webkit-linear-gradient(top, #43aee4, #008ed8);
    background: -moz-linear-gradient(top, #43aee4, #008ed8);
    background: -o-linear-gradient(top, #43aee4, #008ed8);
    background: linear-gradient(top, #43aee4, #008ed8);
    background-color: #00a1cb;
    text-shadow: 0 -1px 1px rgba(0, 40, 50, .35);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.search-dest-tr td {
    background: #e2eff8
}

.panel_bar {
    margin-left: 20px
}

.panel_bar .abtn {
    background: #43AEE4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 15px;
    margin-right: 10px
}

.panel_bar .abtn:hover {
    background: #008ED8
}

.panel_bar .abtn:active {
    background: #F8B751
}

.panel_bar #search {
    height: 24px;
    border: 1px solid #008ED8
}

.grid_column_text {
    float: left
}

.grid_column_help {
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer
}